---
title: 'Birds of a Feather'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  Birds of a Feather sessions are informal discussion groups that will each
  consider a specific issue or subject. Spaces will be designated for each topic
  (see space assignments below). To suggest a discussion topic, please post to
  the comments section below!
</p>
<p>
  The discussions will begin in Continental C to give everyone time to eat. Look
  for the table with the number for the discussion you would like to join (see
  number assignments below). About a half hour to an hour into lunch
  (12:30-1PM), the discussions will move to their assigned spaces in the meeting
  rooms.
</p>
<p>
  <strong>Number/Meeting Room Assignments:</strong><br />
  1. Digital Asset Management System – Blake<br />
  2. From Wikipedia to your library – Lawrence AB
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1GZHNRZW2YSRhcCb_w-o2vPk2zO5ByghwExjLlBZDs5I/edit"
    >community reporting Google doc</a
  >
  for these sessions!
</p>

<section>
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">
              <img
                class="rounded-circle shadow-1-strong me-3"
                src="{{ '/assets/images/gravatar.png' | url }}"
                alt="avatar"
                width="60"
                height="60"
              />
              <div>
                <h6 class="fw-bold text-primary mb-1">Todd Grappone</h6>
                <p class="text-muted small mb-0">Shared publicly - Oct 2012</p>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2">
              The University of California is developing a technical model for a
              system wide Digital Asset Management System with integrated
              Discovery and Display. The project team Todd Grappone (UCLA),
              Declan Fleming (UCSD), Erik Hetzner (CDL), Brian Tingle (CDL) and
              Susan Perry (UCSC) will be discussing the technical modeling and
              looking for community input as they develop a model for a DAMS. We
              are looking into some specific technology (Nuexo, Islandora, Hydra
              and Alfresco) or a combination of technologies to accomplish our
              goals. Please join the discussion if you have interest in this
              area.
            </p>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">
              <img
                class="rounded-circle shadow-1-strong me-3"
                src="{{ '/assets/images/gravatar.png' | url }}"
                alt="avatar"
                width="60"
                height="60"
              />
              <div>
                <h6 class="fw-bold text-primary mb-1">John Mark Ockerbloom</h6>
                <p class="text-muted small mb-0">Shared publicly - Nov 2012</p>
              </div>
            </div>

            <p>From Wikipedia to your library</p>
            <p class="mt-3 mb-4 pb-2">
              I’ve been thinking about how patrons can more easily get from
              popular research starting points like Wikipedia and search engines
              to the research resources our libraries offer. Wikipedia in
              English already provides basic information on over 4 million
              concepts (and Google’s Knowledge Graph includes many more); but
              there’s usually no clear link to follow from these popular
              starting points to information on our library’s related resources
              (which are often not on the open Web).
            </p>
            <p>
              We should be able to provide these missing links. We basically
              need 3 things:
            </p>
            <p>
              1. Standards for linking from a Wikipedia article, or similar
              popular knowledge access points, to a corresponding access point
              at a searcher’s preferred library. (OpenURL-aware databases
              already provide library-specific links for citations; this is
              basically doing the same thing for concepts.)
            </p>
            <p>
              2. Ways to determine relationships between Wikipedia articles (or
              other common concept sets) and concepts library catalogs and
              databases know about (e.g. authorized names and subject headings).
              This helps us ensure that the links above *will* go to useful
              corresponding library access points.
            </p>
            <p>
              3. Ways of producing useful displays and navigation for relevant
              library concepts on the fly. This ensures that our library patrons
              can find useful things, and explore further, once they reach the
              access points we provide.
            </p>
            <p>
              I’m currently working on techniques for all three of these,
              including subject maps, Wikipedia data-mining, and a simple
              library-specific concept link resolver. I suspect I’m not the only
              one interested in these sorts of capabilities. I’d love to talk,
              and compare work, with other folks thinking about or working with
              similar problems and tools; and to see what collaborations might
              be useful.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
