---
title: 'Kathleen Fitzpatrick – 2012 DLF Forum Keynote Address'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  Ms. Fitzpatrick is Director of Scholarly Communication of the Modern Language
  Association, and Professor of Media Studies (on leave), Pomona College. She is
  author of
  <em
    >Planned Obsolescence: Publishing, Technology, and the Future of the
    Academy</em
  >, published in 2011 by NYU Press and previously made available for open peer
  review online (<a
    href="http://mediacommons.futureofthebook.org/mcpress/plannedobsolescence"
    >http://mediacommons.futureofthebook.org/mcpress/plannedobsolescence</a
  >), and of
  <em
    >The Anxiety of Obsolescence: The American Novel in the Age of
    Television</em
  >, published in 2006 by Vanderbilt University Press. She is co-founder of the
  digital scholarly network MediaCommons (<a
    href="http://mediacommons.futureofthebook.org/"
    >http://mediacommons.futureofthebook.org</a
  >), and has published in journals including the
  <em>Journal of Scholarly Publishing</em>, the
  <em>Journal of Electronic Publishing</em>, <em>PMLA</em>,
  <em>Contemporary Literature</em>, and <em>Cinema Journal</em>.
</p>
<p>
  View the notes for this session on our
  <a
    href="{{
      '/assets/files/%2801%29%20Sun%2C%209-10am%2C%20Keynote%20Address.pdf'
    }}"
    >community reporting document</a
  >!
</p>
