---
title: 'Project Managers Meeting'
layout: page.njk
eleventyNavigation:
  hide: true
---

<div class="entry">
  <p>
    The DLF Project Managers group is an informal community within the larger
    DLF community. They meet at the annual DLF Forums and also have a dedicated
    listserv (<a href="mailto:dlf-pm-group@lists.clir.org"
      >dlf-pm-group@lists.clir.org</a
    >). The DLF PM Group was formed in 2008 to acknowledge the intersection of
    the discipline of project management and library technology. The group
    provides a forum for sharing project management methodologies and tools,
    alongside broader discussions that consider issues such as portfolio
    management and cross-organizational communication. The group also maintains
    an eye towards keeping pace with the dynamic digital library landscape, by
    bringing new and evolving project management practices to the attention and
    mutual benefit of our colleagues.
  </p>
  <p>
    <strong
      >View the
      <a
        href="{{
          '/assets/files/Project%20Manager%27s%20Group%20Meeting%20-%203%20Nov%202012%20-%20DLF%20Fall%20Forum.pdf'
        }}"
        >meeting notes</a
      >!</strong
    >
  </p>
</div>
