<div class="col-md-4">
  <div id="sidebar" class="pt-2">
    <div class="p-4 mb-3 bg-body-tertiary text-center sidebar-header">
      <h4 class="text-white align-baseline">Forums</h4>
    </div>

    <div class="p-4 box">
      <h4>2012 DLF Forum</h4>

      <ul class="list-unstyled lh-lg">
        <li>
          <a title="2012 DLF Forum: Overview" href="{{ '/' }}">Overview</a>
        </li>
        <li>
          <a href="{{ '/registration/' | url }}">Registration</a>
        </li>
        <li>
          <a
            title="2012 DLF Forum: Schedule"
            href="{{ '/2012-dlf-forum-schedule/' | url }}"
            >Schedule</a
          >
        </li>
        <li>
          <a href="{{ '/2012-dlf-forum-travel-accomodations/' | url }}"
            >Accommodations & Travel</a
          >
        </li>
        <li>
          <a href="{{ '/stuff-you-should-know/' | url }}"
            >Stuff You Should Know</a
          >
        </li>

        <li>
          <a href="{{ '/2012-dlf-forum-sponsorship/' | url }}"
            >Forum Sponsorship</a
          >
        </li>

        <li>
          <a
            href="{{
              '/dlf-forum-fellowships-for-librarians-new-to-the-profession/'
            }}"
            >Forum Fellows</a
          >
        </li>

        <li>
          <a href="{{ '/2012-dlf-forum-participants-list/' | url }}"
            >Participant List</a
          >
        </li>

        <li>
          <a href="{{ '/2012-dlf-forum-evaluation-survey/' | url }}"
            >Evaluation Survey</a
          >
        </li>

        <li></li>
          <a href="{{ '/2012-dlf-forum-twitter-stream/' | url }}"
            >Twitter Stream & Archive</a
          >
        </li>
      </ul>
    </div>

    <div class="p-4 my-4 box">
      <h4>Search</h4>
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
      <script src="/pagefind/pagefind-ui.js"></script>
      <div id="search"></div>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: '#search', showSubResults: true })
        })
      </script>
    </div>

    <div class="p-4 my-4 box">
      <h4>2012 Program Committee</h4>
      <p>
        Ann Caldwell<br />
        Arwen Hutt<br />
        Beverly Turner<br />
        Cathy Aster<br />
        Charles Blair<br />
        Cheryl Walters<br />
        Delphine Khanna<br />
        Dot Porter<br />
        Jenn Riley<br />
        Jennifer Weintraub<br />
        Kat Hagedorn<br />
        Lois Widmer<br />
        Martin Kalfatovic<br />
        Mary Molinaro<br />
        Melanie Schlosser<br />
        Michele Reilly<br />
        Monica McCormick<br />
        Nathan Hall<br />
        Patti Martin<br />
        Terry Reese<br />
        Trevor Muñoz
      </p>
    </div>

    <div class="p-4 box">
      <h4>Links</h4>
      <ol class="list-unstyled">
        <li>
          <a href="https://github.com/clirdlf/forum2011">GitHub</a>
        </li>
        <li><a href="{{ site.twitter }}">Twitter</a></li>
        <li><a href="{{ site.facebook }}">Facebook</a></li>
      </ol>
    </div>
  </div>
</div>
