// See https://getbootstrap.com/docs/5.3/customize/sass/

// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '~icons/font/bootstrap-icons.css';

// @import 'loader';
@import 'navigation';

:root {
  --danger: #a1012d;
}

.dlfs-concurrent {
  background-color: #f8f9fa;
}

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

// Additional SCSS goes here
body {
  background: #4a4b41;
  background: -webkit-linear-gradient(-90deg, #4a4b41, #9fa273);
  background: linear-gradient(180deg, #4a4b41, #9fa273);
}

.sidebar-header {
  background-image: url('/assets/images/section-background.jpg');
  background-repeat: none;
  background-size: cover;
}

.bigred {
  color: #862317;
}

#main {
  border-left-width: 10em;
  border-left-color: red;
}

a {
  color: #9ea374;
  font-weight: bold;
  // text-decoration: none;
}

li {
  margin-bottom: 1em;
}

#sidebar {
  .box {
    background-color: #eaeada;
    // width: 259px;
    // padding: 20px 0px 20px 0px;
    // margin-top: 10px;
    // margin-bottom: 10px;

    h4 {
      color: #a0a399;
    }

    // a {
    //   color: #9ea374;
    //   font-weight: bold;
    //   // text-decoration: none;
    // }
  }
}
