---
title: Sponsorship
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  The Digital Library Federation Forum brings together a wide variety of players
  in the digital library environment, from project managers and developers, to
  administrators and service providers, and focuses on the operational layer of
  digital libraries. This conference is well known for its community building
  and strong emphasis on sharing ideas, collaboration and best practices work.
  The DLF Forum is an open meeting, welcoming both DLF members and others who
  work in the field, and provides a strategic platform for organizations to
  reach a broad, relevant audience.
</p>
<p>
  If your organization would like to help sponsor the 2012 DLF Forum, please
  select a sponsorship level and amount, and email: jwinberry [at] clir [dot]
  org. (Please substitute normal e-mail characters for “at” and “dot” in this
  address.)
</p>
<h2>Platinum ($7500 and above)</h2>
<p>
  Name in program as a platinum sponsor, large official organizational logo on
  the 2012 DLF Forum Web page (with an active link to sponsor’s official Web
  site), acknowledgment from the podium at the opening and closing of the
  conference, two free conference registrations, a slot in the poster session to
  demo sponsor’s most recent products and services, and a named conference
  opportunity (e.g. reception, A/V, lunch, break, DLF Forum Fellows).
</p>
<h2>Gold ($5000-$7499)</h2>
<p>
  Name in program as a gold sponsor, medium official organizational logo on the
  2012 DLF Forum Web page (with an active link to sponsor’s official Web site),
  acknowledgment from the podium at the opening and closing of the conference,
  one free Forum registration, and a slot in the poster session to demo
  sponsor’s most recent products and services.
</p>
<h2>Silver ($2500-$4999)</h2>
<p>
  Name in program as a silver sponsor, official organizational logo on the 2012
  DLF Forum Web page (with an active link to sponsor’s official Web site),
  acknowledgment from the podium.
</p>
<h2>Bronze (under $2500)</h2>
<p>
  Name in program and on the 2011 DLF Forum Web page as a bronze sponsor,
  acknowledgment from the podium.
</p>
