---
title: 'Accommodations & Travel'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2>Conference Hotel Information</h2>
<p>
  The Westin Denver Downtown<br />
  1672 Lawrence Street<br />
  Denver, CO 80202<br />
  Phone: 1-303-572-9100<br />
  <a
    href="https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1206059957&amp;key=10CCE"
  >
    BOOK ONLINE</a
  >
</p>
<p>
  <strong>The group discount rate period has now closed. </strong>Any rooms
  booked at this time will be at best available rate.
</p>
<p>
  There is complimentary guest room internet for all conference participants
  staying at the conference hotel. (Make sure you mention the 2012 DLF Forum if
  booking by phone or use our online portal in order to receive this benefit!)
</p>
<p>
  <strong>A note on the free wireless guest room internet:</strong> For those of
  you staying in our room block at the Westin, when you sign on to the internet
  it will ask you to choose a speed option and agree to payment. Go ahead with
  whichever option you prefer. Our hotel representative will wipe all of the
  guest room internet charges for those of you in the group block as they come
  in. If there are any internet charges on your bill upon check-out, let the
  clerk know you are with the 2012 DLF Forum and they should have a note to wipe
  any internet charges. If you have any problems with this, please email
  jwinberry [at] clir [dot] org.
</p>
<p>
  You may reserve a room
  <a
    href="https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1206059957&amp;key=10CCE"
    >online</a
  >
  or by calling (888) 627-8435. If reserving by phone, please mention that you
  are attending the 2012 Digital Library Federation Forum.
</p>
<p>
  Visit
  <a href="http://www.denver.org/">www.denver.org</a>
  for information on alternative accommodations and area attractions.<br />
  <br />
</p>
<h2>Travel to the Conference Hotel</h2>
<p>
  Denver International Airport (DEN) is about 22 miles from the conference
  hotel. Please visit the Downtown Westin’s
  <a
    href="http://www.starwoodhotels.com/westin/property/area/transportation.html?propertyID=1012"
    >transportation page</a
  >
  to view options for travel to and from the conference.
</p>
