---
title: 'DLF Forum 2012: Schedule'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <a href="{{ '/assets/files/Westin-Denver-Floor-Plan_Lobby-Level.pdf' | url }}"
    >Westin Denver Floor Plan Lobby Level</a
  ><br />
  <a
    href="{{
      '/assets/files/Westin-Denver-Floor-Plan_Mezzanine-Level1.pdf' | url
    }}"
    >Westin Denver Floor Plan Mezzanine Level</a
  >
</p>
<p></p>
<div class="dlfschedule">
  <div class="dlfs-date fs-3 border-bottom py-3">Friday, November 2, 2012</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">
      <a
        href="{{ '/mets-editorial-board-meeting/' | url }}"
        title="METS Editorial Board Meeting"
        >METS Editorial Board Meeting</a
      >
    </div>
    <div class="dlfs-room col">Curtis</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">
    Saturday, November 3, 2012
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">
      <a href="http://dhlib2012.thatcamp.org/"
        >THATCamp Digital Humanities &amp; Libraries</a
      >
    </div>
    <div class="dlfs-room col">Continental C</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9am-5pm</div>
    <div class="dlfs-title col">
      <a
        href="http://www.diglib.org/community/collaborations/curatecamp/"
        title="CURATEcamp"
        >CURATEcamp</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9:30am-3:30pm</div>
    <div class="dlfs-title col">
      <a href="{{ '/taiga-forum-8/' }}" title="Taiga Forum 8">Taiga Forum 8</a>
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{ '/2012-dlf-forum-schedule/project-managers-meeting/' }}"
        title="Project Managers Meeting"
        >Project Managers Meeting</a
      >
    </div>
    <div class="dlfs-room col">Blake</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">Sunday, November 4, 2012</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">7:30-8:45am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9-10am</div>
    <div class="dlfs-title col">
      <a
        href="{{
          '/2012-dlf-forum-schedule/kathleen-fitzpatrick-2012-dlf-forum-keynote-address/'
            | url
        }}"
        >Kathleen Fitzpatrick</a
      >
    </div>
    <div class="dlfs-room col">Continental C</div>
    <div class="dlfs-type col">Keynote Address</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10-10:15am</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="{{ '/the-landscape-of-digital-humanities-librarianship/' | url }}"
        title="The Landscape of Digital Humanities Librarianship"
        >The Landscape of Digital Humanities Librarianship</a
      >
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Presentation/Panel</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="/transcending-silos-leveraging-linked-data-and-open-image-apis-for-collaborative-access-to-digital-facsimiles/"
        title="Transcending Silos: Leveraging Linked Data and Open Image APIs for Collaborative Access to Digital Facsimiles"
        >Transcending Silos: Leveraging Linked Data and Open Image APIs for
        Collaborative Access to Digital Facsimiles</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Presentation/Panel</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:15am-noon</div>
    <div class="dlfs-title col">
      <a
        href="/tales-from-the-cloud-experiences-and-challenges/"
        title="Tales from the Cloud: Experiences and Challenges"
        >Tales from the Cloud: Experiences and Challenges</a
      >
    </div>
    <div class="dlfs-room col">Lawrence AB</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">Noon-2:00pm</div>
    <div class="dlfs-title col">
      Lunch,
      <a href="/community-showcase/" title="Community Showcase"
        >Lightning Round &amp; Community Showcase</a
      >
    </div>
    <div class="dlfs-room col">Continental C &amp; Foyer</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/public-knowledge-project-from-open-source-to-community-source/"
        title="Public Knowledge Project: From Open Source to Community Source"
        >Public Knowledge Project: From Open Source to Community Source</a
      >
      and
      <a
        href="/gokb-kb-an-international-partnership-to-leverage-open-access-and-community-participation-for-the-improvement-of-econtent-metadata/"
        title="GOKb &amp; KB+: An International Partnership to leverage Open Access and Community Participation for the improvement of eContent MetaData"
        >GOKb &amp; KB+: An International Partnership to leverage Open Access
        and Community Participation for the improvement of eContent MetaData</a
      >
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Research/Project Updates</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a href="/using-open-annotation/" title="Using Open Annotation"
        >Using Open Annotation</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Presentation/Panel</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/business-planning-for-research-support-services-case-studies/"
        title="Business Planning for Research Support Services: Case Studies"
        >Business Planning for Research Support Services: Case Studies</a
      >
      and
      <a
        href="/metridoc-extensible-infrastructure-for-metrics-and-analytics/"
        title="Metridoc: Extensible Infrastructure for Metrics and Analytics"
        >Metridoc: Extensible Infrastructure for Metrics and Analytics</a
      >
    </div>
    <div class="dlfs-room col">Tabor Auditorium</div>
    <div class="dlfs-type col">Research/Project Updates</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/institutional-oa-policy-implementation-the-joys-and-challenges/"
        title="Institutional OA policy implementation: The Joys and Challenges"
        >Institutional OA policy implementation: The Joys and Challenges</a
      >
    </div>
    <div class="dlfs-room col">Lawrence AB</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a href="/sustaining-archivesspace/" title="Sustaining ArchivesSpace"
        >Sustaining ArchivesSpace</a
      >
      and
      <a
        href="/variations-on-video-the-avalon-media-system/"
        title="Variations on Video: The Avalon Media System"
        >Variations on Video: The Avalon Media System</a
      >
    </div>
    <div class="dlfs-room col">Horace Tabor</div>
    <div class="dlfs-type col">Research/Project Updates</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">3:30-4pm</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>
  <div class="dlfs-headline">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent bg-light">
    <div class="dlfs-time col">4-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/the-challenges-and-opportunities-of-providing-research-data-services-perspectives-from-a-cross-section-of-institutions/"
        title="The Challenges and Opportunities of Providing Research Data Services: Perspectives From a Cross-section of Institutions"
        >The Challenges and Opportunities of Providing Research Data Services:
        Perspectives From a Cross-section of Institutions</a
      >
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Presentation/Panel</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/assessment-360-evaluating-and-planning-for-the-future-of-a-digital-library-project/"
        title="Assessment 360°: evaluating and planning for the future of a digital library project"
        >Assessment 360°: evaluating and planning for the future of a digital
        library project</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/social-networks-and-archival-context-project/"
        title="Social Networks and Archival Context Project"
        >Social Networks and Archival Context Project</a
      >
      and
      <a
        href="/personal-scholarly-archiving-studying-facultys-information-workflow/"
        title="Personal Scholarly Archiving: Studying Faculty’s Information Workflow"
        >Personal Scholarly Archiving: Studying Faculty’s Information
        Workflow</a
      >
    </div>
    <div class="dlfs-room col">Tabor Auditorium</div>
    <div class="dlfs-type col">Research/Project Updates</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/cracking-the-code-illuminating-new-directions-in-scholarly-communications-and-publishing-initiatives/"
        title="Cracking the Code: Illuminating New Directions in Scholarly Communications and Publishing Initiatives"
        >Cracking the Code: Illuminating New Directions in Scholarly
        Communications and Publishing Initiatives</a
      >
    </div>
    <div class="dlfs-room col">Lawrence AB</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">5:30-7:30pm</div>
    <div class="dlfs-title col">Reception</div>
    <div class="dlfs-room col">Augusta</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">Monday, November 5, 2012</div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">7:30-8:45am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-noon</div>
    <div class="dlfs-title col">
      <a
        href="/developing-a-content-management-system-for-a-federated-digital-library-using-open-source-tools/"
        title="Developing a Content Management System for a Federated Digital Library Using Open Source Tools"
        >Developing a Content Management System for a Federated Digital Library
        Using Open Source Tools</a
      >,
      <a
        href="/disruptive-components-re-imagining-finding-aid-delivery-on-the-web/"
        title="Disruptive Components: Re-imagining Finding Aid Delivery on the Web"
        >Disruptive Components: Re-imagining Finding Aid Delivery on the Web</a
      >, and
      <a
        href="/new-strategies-for-managing-manuscripts-in-digital-libraries/"
        title="New Strategies for Managing Manuscripts in Digital Libraries"
        >New Strategies for Managing Manuscripts in Digital Libraries</a
      >
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Presentations/Panels</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-noon</div>
    <div class="dlfs-title col">
      Projects, Partnerships and Collaborations: Service Models for Digital
      Scholarship:
      <a
        href="/collaborative-service-models-building-support-for-digital-scholarship/"
        title="Collaborative Service Models: Building Support for Digital Scholarship"
        >Collaborative Service Models: Building Support for Digital
        Scholarship</a
      >,
      <a
        href="/introducing-nyu-to-the-digital-humanities-a-faculty-library-partnership/"
        title="Introducing NYU to the Digital Humanities: A Faculty-Library Partnership"
        >Introducing NYU to the Digital Humanities: A Faculty-Library
        Partnership</a
      >, and
      <a href="/from-project-to-services/" title="From Project to… Services?"
        >From Project to... Services?</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Presentations/Panels</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9am-noon</div>
    <div class="dlfs-title col">
      <a
        href="/hathitrust-sharing-the-care-and-feeding-of-the-elephant/"
        title="HathiTrust: Sharing the Care and Feeding of the Elephant"
        >HathiTrust: Sharing the Care and Feeding of the Elephant</a
      >,
      <a
        href="/the-hathitrust-research-center-an-architecture-for-humanities-computing/"
        title="The HathiTrust Research Center: An Architecture for Humanities Computing"
        >The HathiTrust Research Center: An Architecture for Humanities
        Computing</a
      >, and
      <a
        href="/mpach-publishing-directly-in-hathitrust/"
        title="mPach: Publishing directly in HathiTrust"
        >mPach: Publishing directly in HathiTrust</a
      >
    </div>
    <div class="dlfs-room col">Tabor Auditorium</div>
    <div class="dlfs-type col">Presentations/Panels</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10:30-10:45am</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">Noon-2:00pm</div>
    <div class="dlfs-title col">
      Lunch and
      <a href="/2012-dlf-forum-schedule/birds-of-a-feather/"
        >Birds of a Feather Sessions</a
      >
    </div>
    <div class="dlfs-room col">Continental C &amp; Foyer</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-3:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/no-tempest-in-my-teapot-analysis-of-crowdsourced-data-and-user-experiences-at-the-california-digital-newspaper-collection/"
        title="No tempest in my teapot: Analysis of Crowdsourced Data and User Experiences at the California Digital Newspaper Collection"
        >No tempest in my teapot: Analysis of Crowdsourced Data and User
        Experiences at the California Digital Newspaper Collection</a
      >
      and
      <a
        href="/the-participatory-digital-library-a-crowdsourcing-case-study-at-the-university-of-iowa-libraries/"
        title="The Participatory Digital Library: A Crowdsourcing Case Study at the University of Iowa Libraries"
        >The Participatory Digital Library: A Crowdsourcing Case Study at the
        University of Iowa Libraries</a
      >
    </div>
    <div class="dlfs-room col">Tabor Auditorium</div>
    <div class="dlfs-type col">Presentations/Panels</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/semantic-web-seo-for-digital-libraries/"
        title="Semantic Web SEO for Digital Libraries"
        >Semantic Web SEO for Digital Libraries</a
      >
    </div>
    <div class="dlfs-room col">Continental A</div>
    <div class="dlfs-type col">Workshop</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/digital-preservation-bootcamp-and-workshop/"
        title="Digital Preservation BootCamp and Workshop"
        >Digital Preservation BootCamp and Workshop</a
      >
    </div>
    <div class="dlfs-room col">Continental B</div>
    <div class="dlfs-type col">Workshop</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">2-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/data-management-services-at-the-library-the-3-hour-tour/"
        title="Data Management Services at the Library: The 3-Hour Tour"
        >Data Management Services at the Library: The 3-Hour Tour</a
      >
    </div>
    <div class="dlfs-room col">Lawrence AB</div>
    <div class="dlfs-type col">Workshop</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4-5:30pm</div>
    <div class="dlfs-title col">
      <a
        href="/bibliographic-framework-initiative-update-initial-model-tools/"
        title="Bibliographic Framework Initiative: Update, Initial Model, Tools"
        >Bibliographic Framework Initiative: Update, Initial Model, Tools, and
        How You Can Participate</a
      >
      and
      <a
        href="/all-creatures-great-and-small-metadata-for-biodiversity-illustrations/"
        title="All creatures great and small: metadata for biodiversity illustrations"
        >All creatures great and small: metadata for biodiversity
        illustrations</a
      >
    </div>
    <div class="dlfs-room col">Tabor Auditorium</div>
    <div class="dlfs-type col">Short Presentation and Research Update</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">3:30-4pm</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Continental Foyer</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">Tuesday, November 6, 2012</div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-item row py-3 dlfs-concurrent">
      <div class="dlfs-time col">9:15am-4:30pm</div>
      <div class="dlfs-title col">
        <a href="http://sits-dlf2012.eventbrite.com/">SIITS Workshop</a>
      </div>
      <div class="dlfs-room col">Lawrence AB</div>
      <div class="dlfs-type col">Post-Conference</div>
    </div>
  </div>
</div>
