---
title: '2012 DLF Forum: Participants List'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>View the 2012 DLF Forum participants list:</p>
<p>
  Excel:
  <a href="{{ '/assets/files/2012-DLF-Forum-Participants-List.xls' }}"
    >2012 DLF Forum Participants List</a
  ><br />
  PDF:
  <a href="{{ '/assets/files/2012-DLF-Forum-Participants-List.pdf' }}"
    >2012 DLF Forum Participants List</a
  >
</p>

<p>
  DLF Forum participants are listed below. You may also download the versions
  above. If you would like your name removed from this list or have any edits,
  please email jwinberry [at] clir [dot] org.
</p>
<p></p>
<div class="dlfparticipants">
  <div class="dlfp-item">
    <div class="dlfp-name">Aaron, Amira</div>
    <div class="dlfp-title">Associate Dean, Scholarly Resources</div>
    <div class="dlfp-org">Northeastern University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Albritton, Benjamin</div>
    <div class="dlfp-title">Product Manager</div>
    <div class="dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Anderson, Mark</div>
    <div class="dlfp-title">Digital Scholarship Librarian</div>
    <div class="dlfp-org">University of Iowa Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Antonijevic, Smiljana</div>
    <div class="dlfp-title">Research Technologist</div>
    <div class="dlfp-org">Penn State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Arlitsch, Kenning</div>
    <div class="dlfp-title">Dean</div>
    <div class="dlfp-org">Montana State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Armstrong, Kim</div>
    <div class="dlfp-title">Deputy Director</div>
    <div class="dlfp-org">Committee on Institutional Cooperation</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ashton, Andrew</div>
    <div class="dlfp-title">Director, Digital Technologies</div>
    <div class="dlfp-org">Brown University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Askey, Dale</div>
    <div class="dlfp-title">AUL, Library &amp; Learning Technologies</div>
    <div class="dlfp-org">McMaster University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Aster, Cathy</div>
    <div class="dlfp-title">Product &amp; Service Manager</div>
    <div class="dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Averkamp, Shawn</div>
    <div class="dlfp-title">Data Services Librarian</div>
    <div class="dlfp-org">University of Iowa</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Bauer, Jean</div>
    <div class="dlfp-title">Digital Humanities Librarian</div>
    <div class="dlfp-org">Brown University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Becker, Devin</div>
    <div class="dlfp-title">
      Digital Initiatives and Scholarly Communications Librarian
    </div>
    <div class="dlfp-org">University of Idaho</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Beers, Shane</div>
    <div class="dlfp-title">Digital Preservation Librarian</div>
    <div class="dlfp-org">DePaul University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Belfiore, Doreva</div>
    <div class="dlfp-title">Digital Projects Librarian</div>
    <div class="dlfp-org">Temple University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Berger, Sherri</div>
    <div class="dlfp-title">Access &amp; Publishing Program Coordinator</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Bilbie, Alex</div>
    <div class="dlfp-title">Web Developer</div>
    <div class="dlfp-org">University of Lincoln</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Blackford, Sheila</div>
    <div class="dlfp-title">Librarian</div>
    <div class="dlfp-org">Miller Center, University of Virginia</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Borda, Susan</div>
    <div class="dlfp-title">Digital Curation Librarian</div>
    <div class="dlfp-org">UC Merced</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Bourg, Chris</div>
    <div class="dlfp-title">AUL, Public Services</div>
    <div class="dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Brown-Sica, Margaret</div>
    <div class="dlfp-title">
      Associate Director of Technology Strategy and Learning Spaces
    </div>
    <div class="dlfp-org">Auraria Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Butler, Matthew</div>
    <div class="dlfp-title">Multimedia Consultant</div>
    <div class="dlfp-org">University of Iowa Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Cahoy, Ellysa</div>
    <div class="dlfp-title">Education &amp; Behavioral Sciences Librarian</div>
    <div class="dlfp-org">Penn State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Caizzi, Carolyn</div>
    <div class="dlfp-title">Assistant Head of Digital Collections</div>
    <div class="dlfp-org">Northwestern University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Caldwell, Ann</div>
    <div class="dlfp-title">Head, Imaging &amp; Metadata Services</div>
    <div class="dlfp-org">Brown University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Caldwell, Ann</div>
    <div class="dlfp-title">Head, Imaging &amp; Metadata Services</div>
    <div class="dlfp-org">Brown University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Carruthers, Matt</div>
    <div class="dlfp-title">Metadata Librarian</div>
    <div class="dlfp-org">University of Miami</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Casden, Jason</div>
    <div class="dlfp-title">Lead Librarian, Digital Services Development</div>
    <div class="dlfp-org">North Carolina State University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Childress, Dawn</div>
    <div class="dlfp-title">Humanities Librarian</div>
    <div class="dlfp-org">Penn State Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Clair, Kevin</div>
    <div class="dlfp-title">Metadata Librarian</div>
    <div class="dlfp-org">Penn State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Clark, Jason</div>
    <div class="dlfp-title">Digital Initiative Librarian</div>
    <div class="dlfp-org">Montana State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Clement, Gail</div>
    <div class="dlfp-title">
      Head, Digital Services &amp; Scholarly Communication
    </div>
    <div class="dlfp-org">Texas A&amp;M; University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Coates, Heather</div>
    <div class="dlfp-title">Digital Scholarship &amp; Data Mgmt Librarian</div>
    <div class="dlfp-org">IUPUI University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Cole, Timothy</div>
    <div class="dlfp-title">Math Librarian</div>
    <div class="dlfp-org">University of Illinois at UC</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Colman, Jason</div>
    <div class="dlfp-title">Digital Publishing Project Manager</div>
    <div class="dlfp-org">MPublishing</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Comstock, Bill</div>
    <div class="dlfp-title">Head of Imaging Services</div>
    <div class="dlfp-org">Harvard Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Cooper, Camille</div>
    <div class="dlfp-title">Associate Librarian</div>
    <div class="dlfp-org">Clemson University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Courtney, Angela</div>
    <div class="dlfp-title">Head, Arts &amp; Humanities / Head, Reference</div>
    <div class="dlfp-org">Indiana University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Craigle, Valeri</div>
    <div class="dlfp-title">Assistant Librarian</div>
    <div class="dlfp-org">S.J. Quinney College of Law, University of Utah</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Cramer, Tom</div>
    <div class="dlfp-title">Chief Technology Strategist</div>
    <div class="dlfp-org">Stanford University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Cummins, Paul</div>
    <div class="dlfp-title">Programmer/Sysadmin</div>
    <div class="dlfp-org">Univ. of Tenn. Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Daigle, Bradley</div>
    <div class="dlfp-title">Director, Digital Curation Services</div>
    <div class="dlfp-org">University of Virginia</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dalmau, Michelle</div>
    <div class="dlfp-title">Digital Projects and Usability Librarian</div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dean, Robin</div>
    <div class="dlfp-title">Director, Alliance Digital Repository</div>
    <div class="dlfp-org">Colorado Alliance of Research Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dolan, Molly</div>
    <div class="dlfp-title">
      Digital Initiatives and Scholarly Communications Librarian
    </div>
    <div class="dlfp-org">West Virginia University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dolphin, Ian</div>
    <div class="dlfp-title">Executive Director</div>
    <div class="dlfp-org">Sakai Foundation</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dowson, Rebecca</div>
    <div class="dlfp-title">Liaison Librarian</div>
    <div class="dlfp-org">Simon Fraser University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dunn, Jon</div>
    <div class="dlfp-title">
      Interim Assistant Dean for Library Technologies and Digital Libraries
    </div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Durbin, Michael</div>
    <div class="dlfp-title">Senior Software and Systems Engineer</div>
    <div class="dlfp-org">University of Virginia</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Dyson-Smith, Bridger</div>
    <div class="dlfp-title">IT Admin II</div>
    <div class="dlfp-org">University of Tennessee Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ellis, Shaun</div>
    <div class="dlfp-title">Digital collections interface developer</div>
    <div class="dlfp-org">Princeton University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Engstrom, Jenny</div>
    <div class="dlfp-title">Director for Reference and Research Services</div>
    <div class="dlfp-org">New York Public Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Erway, Ricky</div>
    <div class="dlfp-title">Senior Program Officer</div>
    <div class="dlfp-org">OCLC Research</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Estlund, Karen</div>
    <div class="dlfp-title">Head of Digital Library Services</div>
    <div class="dlfp-org">University of Oregon</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Evans, Mark</div>
    <div class="dlfp-title">Archiving Practice Mgr</div>
    <div class="dlfp-org">Tessella</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Evans, Mark</div>
    <div class="dlfp-title">Consultant</div>
    <div class="dlfp-org">Tessella</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Federer, Lisa</div>
    <div class="dlfp-title">Health and Life Sciences Librarian</div>
    <div class="dlfp-org">UCLA Biomedical Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Flanders, David</div>
    <div class="dlfp-title">Senior Business Analyst</div>
    <div class="dlfp-org">Australia National Data Service</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Fleming, Declan</div>
    <div class="dlfp-title">Chief Technology Strategist</div>
    <div class="dlfp-org">UC San Diego</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Floyd, Randall</div>
    <div class="dlfp-title">Lead Programmer</div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ford, Kevin</div>
    <div class="dlfp-title">Digital Project Coordinator</div>
    <div class="dlfp-org">Library of Congress</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Frick, Rachel</div>
    <div class="dlfp-title">Director, Digital Library Federation</div>
    <div class="dlfp-org">Council on Library and Information Resources</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Furlough, Mike</div>
    <div class="dlfp-title">Associate Dean</div>
    <div class="dlfp-org">Penn State University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Garcia-Spitz, Cristela</div>
    <div class="dlfp-title">Digital Library Program Project Manager</div>
    <div class="dlfp-org">University of California, San Diego</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Giarlo, Michael</div>
    <div class="dlfp-title">Digital Library Architect</div>
    <div class="dlfp-org">Penn State</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Goldman, Ben</div>
    <div class="dlfp-title">Digital Archivist</div>
    <div class="dlfp-org">The Pennsylvania State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Gonder, Justin</div>
    <div class="dlfp-title">eScholarship Operations Coordinator</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Graham, Anne</div>
    <div class="dlfp-title">Digital Collections Archivist</div>
    <div class="dlfp-org">Kennesaw State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Grappone, Todd</div>
    <div class="dlfp-title">
      AUL, Digital Initiatives and Information Technology
    </div>
    <div class="dlfp-org">UCLA Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Gravenhorst, Claus</div>
    <div class="dlfp-title">Director Strategic Initiatives</div>
    <div class="dlfp-org">CCS Content Conversion Specialists GmbH</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Green, Harriett</div>
    <div class="dlfp-title">English and Digital Humanities Librarian</div>
    <div class="dlfp-org">University of Illinois at Urbana-Champaign</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Griffin, James</div>
    <div class="dlfp-title">Digital Library Programmer</div>
    <div class="dlfp-org">Lafayette College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Habing, Tom</div>
    <div class="dlfp-title">Manager, Software Development Group</div>
    <div class="dlfp-org">University of Illinois Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hagedorn, Kat</div>
    <div class="dlfp-title">Project Manager for Digital Projects</div>
    <div class="dlfp-org">University of Michigan</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hamilton, Donna</div>
    <div class="dlfp-title">
      Digital Collections Intern / American Alpine Club Library
    </div>
    <div class="dlfp-org">Hamilton Information Services</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hanrath, Scott</div>
    <div class="dlfp-title">Assistant Librarian</div>
    <div class="dlfp-org">University of Kansas Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hardesty, Julie</div>
    <div class="dlfp-title">Metadata Analyst/Librarian</div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Harper, Corey</div>
    <div class="dlfp-title">Metadata Services Librarian</div>
    <div class="dlfp-org">New York University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hawkins, Kevin</div>
    <div class="dlfp-title">Head of Publishing Production</div>
    <div class="dlfp-org">MPublishing, University of Michigan Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hayes, Beth</div>
    <div class="dlfp-title">IT Project Manager</div>
    <div class="dlfp-org">Penn State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Heberlein, Regine</div>
    <div class="dlfp-title">Processing Archivist</div>
    <div class="dlfp-org">Princeton University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Herbert, John</div>
    <div class="dlfp-title">Head-Digital Ventures</div>
    <div class="dlfp-org">Marriott Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hess, Kirk</div>
    <div class="dlfp-title">Digital Humanities Specialist</div>
    <div class="dlfp-org">University of Illinois Urbana-Champaign</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hetzner, Erik</div>
    <div class="dlfp-title">Web Archiving</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Honn, Josh</div>
    <div class="dlfp-title">Digital Scholarship Library Fellow</div>
    <div class="dlfp-org">Northwestern University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hovde, Sarah</div>
    <div class="dlfp-title">Graduate Student</div>
    <div class="dlfp-org">University of Maryland</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hswe, Patricia</div>
    <div class="dlfp-title">Digital Collections Curator</div>
    <div class="dlfp-org">Penn State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hui, Barbara</div>
    <div class="dlfp-title">Software Developer</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hutchens, Chad</div>
    <div class="dlfp-title">Electronic Resources Librarian</div>
    <div class="dlfp-org">University of Wyoming Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Hutt, Arwen</div>
    <div class="dlfp-title">Metadata Librarian</div>
    <div class="dlfp-org">University of California, San Diego</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ismail, Salwa</div>
    <div class="dlfp-title">Library Information Technology</div>
    <div class="dlfp-org">Georgetown University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Jackson, Korey</div>
    <div class="dlfp-title">Program Coordinator</div>
    <div class="dlfp-org">Anvil Academic Publishing</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Jett, Jacob</div>
    <div class="dlfp-title">Visiting Project Coordinator</div>
    <div class="dlfp-org">University of Illinois at Urbana-Champaign</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Johnson, Rick</div>
    <div class="dlfp-title">
      Co-Director, Digital Library Initiatives and Scholarship
    </div>
    <div class="dlfp-org">University of Notre Dame</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Johnston, Leslie</div>
    <div class="dlfp-title">Chief of Repository Development</div>
    <div class="dlfp-org">Library of Congress</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kalfatovic, Martin</div>
    <div class="dlfp-title">Associate Director</div>
    <div class="dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kautzman, Amy</div>
    <div class="dlfp-title">Associate University Librarian</div>
    <div class="dlfp-org">Univ. of California, Davis</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Keener, Alix</div>
    <div class="dlfp-title">Digital Production Assistant, MPublishing</div>
    <div class="dlfp-org">University of Michigan</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kelly, Elizabeth</div>
    <div class="dlfp-title">Digital Initiatives Librarian</div>
    <div class="dlfp-org">Loyola University New Orleans</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Keralis, Spencer</div>
    <div class="dlfp-title">Director for Digital Scholarship</div>
    <div class="dlfp-org">University of North Texas</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kervinen, Jukka</div>
    <div class="dlfp-title">system analyst</div>
    <div class="dlfp-org">National Library of Finland</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Khanna, Delphine</div>
    <div class="dlfp-title">Head of Digital Library Initiatives</div>
    <div class="dlfp-org">Temple University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Klein, Michael</div>
    <div class="dlfp-title">Senior Software Developer</div>
    <div class="dlfp-org">Northwestern University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Konomos, Philip</div>
    <div class="dlfp-title">Associate University Librarian</div>
    <div class="dlfp-org">Arizona State University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kott, Katherine</div>
    <div class="dlfp-title">Principal</div>
    <div class="dlfp-org">Katherine Kott Consulting</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kovari, Jason</div>
    <div class="dlfp-title">
      Metadata Librarian. Humanities &amp; Special Collections
    </div>
    <div class="dlfp-org">Cornell University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kowalczyk, Stacy</div>
    <div class="dlfp-title">Researcher</div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Kozlowski, Wendy</div>
    <div class="dlfp-title">Science Data and Metadata Librarian</div>
    <div class="dlfp-org">Cornell University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Lake, Sherry</div>
    <div class="dlfp-title">Senior Scientific Data Consultant</div>
    <div class="dlfp-org">University of Virginia Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Larson, Ray</div>
    <div class="dlfp-title">Professor</div>
    <div class="dlfp-org">University of California, Berkeley</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Lindquist, Thea</div>
    <div class="dlfp-title">History Librarian</div>
    <div class="dlfp-org">University of Colorado Boulder</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Livingston, Kevin</div>
    <div class="dlfp-title">Postdoctoral Fellow</div>
    <div class="dlfp-org">University of Colorado</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Long, Elisabeth</div>
    <div class="dlfp-title">
      Associate University Librarian for Digital Services
    </div>
    <div class="dlfp-org">University of Chicago Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Lucko, Amy</div>
    <div class="dlfp-title">Program Officer</div>
    <div class="dlfp-org">CLIR</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Luhrs, Eric</div>
    <div class="dlfp-title">Head of Digital Scholarship Services</div>
    <div class="dlfp-org">Lafayette College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Lyle, Jared</div>
    <div class="dlfp-title">Research Associate</div>
    <div class="dlfp-org">ICPSR, University of Michigan</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mariner, Matthew</div>
    <div class="dlfp-title">
      Head of Special Collections and Digital Initiatives
    </div>
    <div class="dlfp-org">Auraria Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mark Ockerbloom, John</div>
    <div class="dlfp-title">Digital library planner</div>
    <div class="dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Martin, Patricia</div>
    <div class="dlfp-title">Director</div>
    <div class="dlfp-org">CDL</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Matienzo, Mark</div>
    <div class="dlfp-title">Technical Architect, ArchivesSpace</div>
    <div class="dlfp-org">Yale University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McCollough, Aaron</div>
    <div class="dlfp-title">
      Subject Specialist English Language &amp; Literature
    </div>
    <div class="dlfp-org">University of Michigan Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McCormick, Monica</div>
    <div class="dlfp-title">Digital Publishing Officer</div>
    <div class="dlfp-org">NYU Libraries and NYU Press</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McCue, Janet</div>
    <div class="dlfp-title">Associate University Librarian</div>
    <div class="dlfp-org">Cornell University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McDonald, Robert</div>
    <div class="dlfp-title">Associate Dean for Library Technologies</div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McElroy, Neil</div>
    <div class="dlfp-title">Dean of Libraries</div>
    <div class="dlfp-org">Lafayette College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McIntyre, Sandra</div>
    <div class="dlfp-title">Director, Mountain West Digital Library</div>
    <div class="dlfp-org">Utah Academic Library Consortium</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McKelvey, Betsy</div>
    <div class="dlfp-title">Head, Digital Library</div>
    <div class="dlfp-org">Boston College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">McKinley, Matthew</div>
    <div class="dlfp-title">Digital Project Specialist</div>
    <div class="dlfp-org">UC Irvine</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mercer, Holly</div>
    <div class="dlfp-title">
      Associate Dean for Scholarly Communication and Research Services
    </div>
    <div class="dlfp-org">University of Tennessee</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Michalek, Gabrielle</div>
    <div class="dlfp-title">Head, Archives/Digital Library Initiatives</div>
    <div class="dlfp-org">Carnegie Mellon University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Miller, Paul</div>
    <div class="dlfp-title">Digital Production Manager</div>
    <div class="dlfp-org">Lafayette College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Millman, David</div>
    <div class="dlfp-title">Director, Digital Library Technology Services</div>
    <div class="dlfp-org">NYU</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mitchell, Carmen</div>
    <div class="dlfp-title">Institutional Repository Librarian</div>
    <div class="dlfp-org">Cal State San Marcos</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mitchell, Catherine</div>
    <div class="dlfp-title">Director, Access &amp;Publishing; Group</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mitchem, Pamela</div>
    <div class="dlfp-title">Assistant Professor -Library</div>
    <div class="dlfp-org">Appalachian State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Molinaro, Mary</div>
    <div class="dlfp-title">Associate Dean for Library Technologies</div>
    <div class="dlfp-org">University of Kentucky Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Monson, Jane</div>
    <div class="dlfp-title">Digital Initiatives Librarian</div>
    <div class="dlfp-org">University of Northern Colorado</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Morley, Deb</div>
    <div class="dlfp-title">Head of Specialized Content and Services</div>
    <div class="dlfp-org">MIT Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Morris, Steven</div>
    <div class="dlfp-title">Head, Digital Library Initiatives</div>
    <div class="dlfp-org">NCSU Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Morse, Jeremy</div>
    <div class="dlfp-title">Head of Publishing Technology Group</div>
    <div class="dlfp-org">University of Michigan Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Mower, Allyson</div>
    <div class="dlfp-title">
      Scholarly Communications &amp; Copyright Librarian
    </div>
    <div class="dlfp-org">Marriott Library, University of Utah</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Munoz, Roel</div>
    <div class="dlfp-title">Digital Initiatives Imaging Manager</div>
    <div class="dlfp-org">Princeton University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Munoz, Trevor</div>
    <div class="dlfp-title">Assistant Dean for Digital Humanities Research</div>
    <div class="dlfp-org">University of Maryland</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Navarrete, Tony</div>
    <div class="dlfp-title">Digital Library Services Manager</div>
    <div class="dlfp-org">Stanford University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Nutt, Michael</div>
    <div class="dlfp-title">Fellow</div>
    <div class="dlfp-org">NCSU Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Oberg, Johan</div>
    <div class="dlfp-title">Librarian</div>
    <div class="dlfp-org">Macalester College</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">OBrien, Patrick</div>
    <div class="dlfp-title">Semantic Web SEO Research Manager</div>
    <div class="dlfp-org">University of Utah</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ogbuji, Uche</div>
    <div class="dlfp-title">Partner</div>
    <div class="dlfp-org">11/2/1970</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Orme, Bill</div>
    <div class="dlfp-title">Associate Dean</div>
    <div class="dlfp-org">IUPUI University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Owen, Brian</div>
    <div class="dlfp-title">Associate Univ. Librarian</div>
    <div class="dlfp-org">Simon Fraser University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Parde, Annette</div>
    <div class="dlfp-title">Graduate Student</div>
    <div class="dlfp-org">University of Missouri</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Paul, Elaine</div>
    <div class="dlfp-title">Director of Visual Resources</div>
    <div class="dlfp-org">University of Colorado Boulder</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Perry, Susan Chesley</div>
    <div class="dlfp-title">Head of Digital Initiatives</div>
    <div class="dlfp-org">UC Santa Cruz</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Peterman, Dana</div>
    <div class="dlfp-title">Preservation Coordinator</div>
    <div class="dlfp-org">University of California Irvine</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Peyrard, Sébastien</div>
    <div class="dlfp-title">Preservation expert</div>
    <div class="dlfp-org">National library of France</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Pilsk, Suzanne</div>
    <div class="dlfp-title">Librarian</div>
    <div class="dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Porter, Dorothy</div>
    <div class="dlfp-title">
      Assoc. Director for Digital Library Content and Services
    </div>
    <div class="dlfp-org">Indiana University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Powell, Chris</div>
    <div class="dlfp-title">Coordinator, Text Services</div>
    <div class="dlfp-org">University of Michigan</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Reese, Terry</div>
    <div class="dlfp-title">
      Gray Family Chair for Innovative Library Services
    </div>
    <div class="dlfp-org">Oregon State University Valley Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Reid, Michele</div>
    <div class="dlfp-title">Dean of Libraries</div>
    <div class="dlfp-org">North Dakota State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Reilly, Michele</div>
    <div class="dlfp-title">Director, Digital Projects</div>
    <div class="dlfp-org">University of Houston Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Riley, Jenn</div>
    <div class="dlfp-title">Head, Carolina Digital Library and Archives</div>
    <div class="dlfp-org">UNC-Chapel Hill</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Ringham, Larissa</div>
    <div class="dlfp-title">Digital Projects Librarian</div>
    <div class="dlfp-org">University of British Columbia Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Robinson, Tracey</div>
    <div class="dlfp-title">Managing Director. Library Technology</div>
    <div class="dlfp-org">Harvard University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rockenbach, Barbara</div>
    <div class="dlfp-title">Director, Humanities &amp; History Libraries</div>
    <div class="dlfp-org">Columbia University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rogers, Carrick</div>
    <div class="dlfp-title">Programmer</div>
    <div class="dlfp-org">University of Michigan</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rose-Sandler, Trish</div>
    <div class="dlfp-title">
      Data Analyst, Center for Biodiversity Informatics
    </div>
    <div class="dlfp-org">Missouri Botanical Garden</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rosenblum, Brian</div>
    <div class="dlfp-title">Digital Initiatives Librarian</div>
    <div class="dlfp-org">University of Kansas</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rouner, Andrew</div>
    <div class="dlfp-title">Digital Library Director</div>
    <div class="dlfp-org">Washington University in St. Louis</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Rowell, Chelcie</div>
    <div class="dlfp-title">MSIS Candidate</div>
    <div class="dlfp-org">UNC SILS</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Salo, Dorothea</div>
    <div class="dlfp-title">Faculty Associate</div>
    <div class="dlfp-org">University of Wisconsin-Madison</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Sanderson, Robert</div>
    <div class="dlfp-title">Scientist</div>
    <div class="dlfp-org">Los Alamos National Laboratory</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Saylor, Nicole</div>
    <div class="dlfp-title">Head, Digital Research &amp; Publishing</div>
    <div class="dlfp-org">University of Iowa Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Schaefer, Sibyl</div>
    <div class="dlfp-title">Head of Digital Programs</div>
    <div class="dlfp-org">Rockefeller Archive Center</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Schiff, Lisa</div>
    <div class="dlfp-title">Technical Lead</div>
    <div class="dlfp-org">
      California Digital Library, University of California
    </div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Schlosser, Melanie</div>
    <div class="dlfp-title">Digital Publishing Librarian</div>
    <div class="dlfp-org">The Ohio State University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Schmidt, Sara</div>
    <div class="dlfp-title">Special Collections Librarian</div>
    <div class="dlfp-org">Schreiner University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Shaw, Emily</div>
    <div class="dlfp-title">Digital Preservation Librarian</div>
    <div class="dlfp-org">University of Iowa Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Shepherd, Kelcy</div>
    <div class="dlfp-title">Head of Digital Programs</div>
    <div class="dlfp-org">Amherst College Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Shreeves, Sarah</div>
    <div class="dlfp-title">IDEALS Coordinator</div>
    <div class="dlfp-org">University of Illinois at Urbana-Champaign</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Sierra, Tito</div>
    <div class="dlfp-title">Associate Director for Technology</div>
    <div class="dlfp-org">MIT Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Siesing, Gina</div>
    <div class="dlfp-title">Dir Educ &amp; Scholarly Tech Srvc</div>
    <div class="dlfp-org">Tufts University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">SMART, LAURA</div>
    <div class="dlfp-title">METADATA SERVICES MANAGER</div>
    <div class="dlfp-org">CALTECH</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Smecher, Alec</div>
    <div class="dlfp-title">Technical Lead</div>
    <div class="dlfp-org">Public Knowledge Project</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Smith, Carissa</div>
    <div class="dlfp-title">Partner Specialist</div>
    <div class="dlfp-org">DuraSpace</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Smith, Roger</div>
    <div class="dlfp-title">Head, Collections Support Services</div>
    <div class="dlfp-org">UCSD Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Starr, Joan</div>
    <div class="dlfp-title">
      Manager, EZID Service and Strategic &amp; Project Planning
    </div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Starratt, Jay</div>
    <div class="dlfp-title">Dean</div>
    <div class="dlfp-org">Washington State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Steans, Ryan</div>
    <div class="dlfp-title">Senior Program Coordinator</div>
    <div class="dlfp-org">Texas Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Stern, Randy</div>
    <div class="dlfp-title">Manager Systems Development</div>
    <div class="dlfp-org">Harvard University Library Technology Services</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Stewart, Claire</div>
    <div class="dlfp-title">
      Head, Digital Collections and Scholarly Communication Services
    </div>
    <div class="dlfp-org">Northwestern University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Strasser, Carly</div>
    <div class="dlfp-title">Data Curation Specialist</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Stroop, Jon</div>
    <div class="dlfp-title">Metadata Analyst</div>
    <div class="dlfp-org">Princeton University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Tarrant, David</div>
    <div class="dlfp-title">Research Fellow</div>
    <div class="dlfp-org">University of Southampton</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Thompson, Keri</div>
    <div class="dlfp-title">Head, Web Services Department</div>
    <div class="dlfp-org">Smithsonian Institution Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Thuman, Mike</div>
    <div class="dlfp-title">Assoc VP, Archiving Solutions</div>
    <div class="dlfp-org">Tessella</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Thuman, Mike</div>
    <div class="dlfp-title">Consultant</div>
    <div class="dlfp-org">Tessella</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Tingle, Brian</div>
    <div class="dlfp-title">Technical Lead</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Tittemore, Cecilia</div>
    <div class="dlfp-title">Head, Cataloging and Metadata Services</div>
    <div class="dlfp-org">Dartmouth College Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Tolson, Donna</div>
    <div class="dlfp-title">Library Strategist</div>
    <div class="dlfp-org">University of Virginia Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Turner, Adrian</div>
    <div class="dlfp-title">Data Consultant</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Turner, Beverly</div>
    <div class="dlfp-title">Digital Operations Coordinator</div>
    <div class="dlfp-org">MIT Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Valentine, Robert</div>
    <div class="dlfp-title">Marketing Director</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Vandermillen, Michael</div>
    <div class="dlfp-title">Software Developer</div>
    <div class="dlfp-org">Harvard University, Library Technology Services</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Varner, Stewart</div>
    <div class="dlfp-title">Digital Scholarship Coordinator</div>
    <div class="dlfp-org">Emory University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Vinopal, Jennifer</div>
    <div class="dlfp-title">Librarian for Digital Scholarship Initiatives</div>
    <div class="dlfp-org">New York University, Bobst Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Vinson, Christopher</div>
    <div class="dlfp-title">Head, Digital Initiatives &amp; IT</div>
    <div class="dlfp-org">Clemson University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Walters, Cheryl</div>
    <div class="dlfp-title">Head, Digital Initiatives</div>
    <div class="dlfp-org">Utah State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wang, Jing</div>
    <div class="dlfp-title">Software Engineer</div>
    <div class="dlfp-org">Johns Hopkins University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wang, Zheng (John)</div>
    <div class="dlfp-title">Director, Digital Assets Strategies</div>
    <div class="dlfp-org">Emory University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Weig, Eric</div>
    <div class="dlfp-title">
      Director, Digital Library Services and KyVL's Kentuckiana Digital Library
    </div>
    <div class="dlfp-org">University of Kentucky Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Weinraub, Evviva</div>
    <div class="dlfp-title">Director, Emerging Technologies &amp; Services</div>
    <div class="dlfp-org">Oregon State University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Weintraub, Jennifer</div>
    <div class="dlfp-title">Librarian</div>
    <div class="dlfp-org">UCLA</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Weise, John</div>
    <div class="dlfp-title">Librarian</div>
    <div class="dlfp-org">University of Michigan Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wendler, Robin</div>
    <div class="dlfp-title">Senior Analyst</div>
    <div class="dlfp-org">Harvard University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wesolek, Andrew</div>
    <div class="dlfp-title">Scholarly Communication Librarian</div>
    <div class="dlfp-org">Utah State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Whiteside, Ann</div>
    <div class="dlfp-title">
      Librarian/Assistant Dean for Information Resources
    </div>
    <div class="dlfp-org">Harvard Graduate School of Design</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Whyte, Ian</div>
    <div class="dlfp-title">Acting Chief Librarian</div>
    <div class="dlfp-org">University of Toronto Mississauga</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Widmer, Lois</div>
    <div class="dlfp-title">
      Chair, Digital Services &amp; Shared Collections
    </div>
    <div class="dlfp-org">University of Florida</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Willett, Perry</div>
    <div class="dlfp-title">Digital Preservation Services Manager</div>
    <div class="dlfp-org">California Digital Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Williford, Christa</div>
    <div class="dlfp-title">Program Officer</div>
    <div class="dlfp-org">CLIR</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Winberry, Jena</div>
    <div class="dlfp-title">Program Associate, DLF</div>
    <div class="dlfp-org">Council on Library and Information Resources</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Winkler, Michael</div>
    <div class="dlfp-title">Director of IT</div>
    <div class="dlfp-org">University of Pennsylvania</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wolfe, Jen</div>
    <div class="dlfp-title">Digital Scholarship Librarian</div>
    <div class="dlfp-org">University of Iowa Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Woods, Andrew</div>
    <div class="dlfp-title">Software Engineer</div>
    <div class="dlfp-org">DuraSpace</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Worthey, Glen</div>
    <div class="dlfp-title">Digital Humanities Librarian</div>
    <div class="dlfp-org">Stanford University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wright, Stephanie</div>
    <div class="dlfp-title">Data Services Coordinator</div>
    <div class="dlfp-org">University of Washington Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Wulfman, Clifford</div>
    <div class="dlfp-title">Digital Initiatives Coordinator</div>
    <div class="dlfp-org">Princeton University Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Yarmey, Lynn</div>
    <div class="dlfp-title">Lead Data Curator</div>
    <div class="dlfp-org">National Snow and Ice Data Center</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Yeh, Sheila</div>
    <div class="dlfp-title">
      Digital Infrastructure and Technology Coordinator
    </div>
    <div class="dlfp-org">University of Denver Penrose Library</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Yott, Patrick</div>
    <div class="dlfp-title">
      Associate Dean for Digital Strategies and Services
    </div>
    <div class="dlfp-org">Northeastern University Libraries</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Young, Scott</div>
    <div class="dlfp-title">Digital Initiative Librarian</div>
    <div class="dlfp-org">Montana State University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Zakuta, Vitaly</div>
    <div class="dlfp-title">Digital Projects Librarian</div>
    <div class="dlfp-org">Harvard University</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Zarndt, Frederick</div>
    <div class="dlfp-title">Chair, IFLA Newspapers Section</div>
    <div class="dlfp-org">CCS / DDD / DL Consulting</div>
  </div>
  <div class="dlfp-item">
    <div class="dlfp-name">Zucca, Joe</div>
    <div class="dlfp-title">
      Director for Planning and Organizational Analysis
    </div>
    <div class="dlfp-org">University of Penna Libraries</div>
  </div>
</div>
