---
title: 'All creatures great and small: metadata for biodiversity illustrations'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research Update</p>
<p>
  <strong>Session Description:</strong><br />
  In 2012, the Missouri Botanical Garden received a grant from the National
  Endowment for the Humanities entitled “The Art of Life: Data Mining and
  Crowdsourcing the Identification and Description of Natural History
  Illustrations from the Biodiversity Heritage Library (BHL)”. This project aims
  to develop software tools and a metadata schema for visual resources contained
  within the scanned literature made available through BHL digitization
  activities. The tools and schema will support automated identification and
  crowdsourced description of this corpus.
</p>
<p>
  Initially, software tools will help discover visual resources (illustrations,
  maps, and other works of art) in BHL’s corpus, and basic metadata will be
  recorded. These resources will then be shared on multiple image delivery
  systems, including Flickr and the Wikimedia Commons, where citizen scientists
  will be able to add further annotations. Because of the wide diversity of
  information that a citizen scientist can add to any image, a comprehensive yet
  manageable schema is needed to help standardize inputs and enable
  synchronization and seamless import back into the BHL databases.
</p>
<p>
  This schema therefore needs to support three objectives:<br />
  (1) to enable the discovery, description and use of the identified images by
  artists, biologists, humanities scholars, and educators;<br />
  (2) to make BHL’s metadata and images available to other platforms; and<br />
  (3) to import crowdsourced metadata generated in other platforms back into
  BHL.
</p>
<p>
  The speakers will talk about the process of identifying existing schema that
  meet the needs of the project, instead of developing yet another schema from
  scratch, and integrating a solution that combines the best in biodiversity
  informatics and image curation standards and best practices. We will present
  our preliminary schema to the DLF community, explain how we addressed metadata
  challenges specific to biodiversity data, and obtain feedback on improving our
  schema further.
</p>
<p>
  We welcome your
  <a href="http://tinyurl.com/9hm7nsb">feedback</a>
  on the schema!
</p>
<p>
  For more info:
  <a href="http://biodivlib.wikispaces.com/Art+of+Life"
    >http://biodivlib.wikispaces.com/Art+of+Life</a
  >
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Robert Guralnick, University of Colorado<br />
  Trish Rose-Sandler, Missouri Botanical Garden<br />
  William Ulate, Missouri Botanical Garden<br />
  Gaurav Vaidya, University of Colorado Boulder
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/13JHv0wyFOQX2koblXj2dO4yzCLjMya_YNehbWMeEWdc/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15055706"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/trosesandler/art-of-life-15055706"
      title="All creatures great and small: metadata for biodiversity illustrations"
      target="_blank"
      >All creatures great and small: metadata for biodiversity illustrations</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/trosesandler" target="_blank"
      >Trish Rose-Sandler</a
    ></strong
  >
</div>
