---
title: 'Assessment 360°: evaluating and planning for the future of a digital library project'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description:</strong><br />
  Although starting a digital library project is an ambitious undertaking, it
  can be an equal challenge to maintain one—especially to ensure it remains
  relevant and engaging for its various constituents. Managers and developers
  will encounter many junctures at which they must refine the project’s
  development trajectory in response to changing technology, funding, and
  expectations.
</p>
<p>
  At these junctures, it can be useful to step back and take stock of the
  project and where it fits in its broader environment. A sound program of
  assessment can be extremely helpful in providing key data about the project
  and its constituencies, and consequently shedding light on the best way
  forward.
</p>
<p>
  This working session will provide attendees with a framework for assessment of
  a digital library project, service, or collection. The presenters will provide
  concrete examples of methodologies and tools that can be used, drawing from
  their own experience undertaking a multi-faceted assessment of the Online
  Archive of California and Calisphere online digital collections. Specifically,
  the session will cover the following assessment components, which could be
  applied to a range of scenarios—big and small—for specific projects and
  programs:
</p>

<ul>
  <li>Identifying constituencies</li>
  <li>Business decisions: drivers for assessment</li>
  <li>Constructing answerable questions and hypotheses</li>
  <li>Methodologies</li>
  <li>Analysis of findings</li>
</ul>

<p>
  Working session attendees will be provided with time and guidance to consider
  assessment opportunities and approaches for their own digital library
  projects, mostly likely in small groups followed by a broader discussion with
  all participants. Presenters will guide the conversation to include thornier
  issues and challenges arising from assessment, for example: understanding
  findings within context, refining the assessment questions as data is
  gathered, the art of turning findings into recommendations, and the tricky
  business of communicating outcomes not everyone wants to hear.<br />
  Attendees will leave with a solid understanding of how assessment can inform
  strategic decision-making, as well as an initial plan for applying assessment
  principles to their programs and projects.<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Sherri Berger, California Digital Library, University of California<br />
  Lisa Schiff, California Digital Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1JHOBwMB0iex5UDNMRkfbUGuAU625_j8yWAeYop_MQzE/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>

<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15011068"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/sherriberger/dlf-2012"
      title="Dlf 2012"
      target="_blank"
      >Dlf 2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/sherriberger" target="_blank"
      >sherriberger</a
    ></strong
  >
</div>
