---
title: 'Bibliographic Framework Initiative: Update, Initial Model, Tools, and How You Can Participate'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Short Presentation</p>
<p>
  <strong>Session Description:</strong><br />
  The presentation will be divided into two sections. The first will begin with
  a general update about the Bibliographic Framework Initiative. The second will
  be devoted to showcasing the various tools, services, and code developed and
  made available for evaluation, testing, and experimentation by the community
  during this initial stage.
</p>
<p>
  The general update about the Bibliographic Framework Initiative will include
  work and progress since the Library’s update at the American Library
  Association Annual Conference in Anaheim in June. At ALA Annual, Eric Miller,
  who is president of Zepheira, the organization contracted to set the
  initiative solidly on its course, outlined a number of objectives during this
  initial phase. Among many, the two most relevant outcomes will be an
  evaluation of current efforts to model library data in Resource Description
  Framework and the presentation of a draft model for community appraisal and on
  which to further build.
</p>
<p>
  Because an open process is desirable and expected, it is anticipated that the
  community will already have seen both of these important contributions, but
  this presentation will provide an opportunity to go into greater detail,
  present the outcomes as a cohesive whole, and explore the ramifications and
  future directions stemming from the initial stage.
</p>
<p>
  The second part of the session will focus on demonstrating the code, services,
  and tools developed and published in support of this stage. This opportunity
  will allow demonstration of how these components can be used locally, to hear
  how best to augment existing services, and to learn, from those already
  experimenting, of their experiences with the offerings.
</p>
<p>
  Although this will not be a hands-on session, it is hoped that attendees will
  be able to return to their home institutions with a clear idea of how they can
  put the code, services, and tools to immediate investigation. Substantial time
  will be reserved for questions.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Kevin Ford, Network Development and MARC Standards Office, Library of
  Congress<br />
  Uche Ogbuji, Zepheira LLC<br />
  Nate Trail, Library of Congress
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/13JHv0wyFOQX2koblXj2dO4yzCLjMya_YNehbWMeEWdc/edit"
    >community reporting Google docs</a
  >
  for this session!<br />
  <strong
    ><br />
    Session Slides:</strong
  ><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15249284?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/bibframe-dlf2012uofinal20121105"
      title="BIBFRAME Update"
      target="_blank"
      >BIBFRAME Update</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
