---
title: 'Business Planning for Research Support Services: Case Studies'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Research/Project Update<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  At the 2011 DLF Forum, we presented an introduction to our CLIR/DLF-funded
  research project to recommend methods for effective service planning in
  research libraries, adapting processes from the business as well as the
  not-for-profit sectors. Drawing on the literature and methodologies from the
  for-profit and not-for-profit sectors, we outlined a multi-step set of
  business planning practices that libraries can apply to plan, launch, and
  manage new scholarly communications services, including campus-based
  publishing and research data management programs. These observations will be
  available through Media Commons prior to the DLF Forum.
</p>
<p>
  At the 2012 DLF Forum we will share the results of case studies of leading
  publishing and data management services in libraries. How did these services
  originate? In what ways do they reinforce the broader mission of their host
  library? How was their work scoped and their market defined? How have they
  defined and measured success? What lessons can we draw from their example to
  devise more successful services at our own libraries?
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Mike Furlough, Penn State University<br />
  Michele Reid, North Dakota State University
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/14soULJZt-jfdYodCcRd1sdqx9cbjWJQa_Wx-RQVQYDU/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
