---
title: 'Public Knowledge Project: From Open Source to Community Source'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  Educational and research needs are changing rapidly: innovative teaching
  methods and collaborative learning environments generate an ever-increasing
  need for online resources; data sharing has become a requirement for many
  funding agencies and publishers; and the resulting information must now be
  archived and managed for the long-term. As this landscape changes, so too must
  libraries. In order to effectively respond to patrons’ needs, it is vital that
  libraries leverage resources to create collaborative, efficient and
  sustainable systems and services to support digital content management.
</p>
<p>
  Cornell University Library (CUL) attempts to actively engage faculty and
  community members by providing services to facilitate the creation, access and
  preservation of digital content. Such services include repository ingest and
  curation, training and workshops, and ongoing consultations on a wide range of
  topics. These activities connect digital library, metadata and repository
  resources with faculty needs and awareness, regardless of discipline. In the
  humanities, CUL’s Digital Consulting and Production Services provides outreach
  and cross-campus consultative services to aid the creation, management and
  discoverability of community digital collections while often merging those
  collections with the general library resources. In the sciences, the Research
  Data Management Service Group is a cross-campus effort that provides access to
  a broad range of data management services, including support for sharing and
  dissemination of research results. Despite differing models, both service
  points fall within CUL’s organizational priorities as evidenced in the
  library’s strategic plan.
</p>
<p>
  During the presentation, we will share our outreach methods, collaborative
  collection building environments, workflow, business models and general
  consultancy statistics. We also plan to discuss next steps for CUL’s services
  including expansion beyond the established subject-specific model to create an
  overall discovery environment. During the post-talk discussion, participants
  will be encouraged to discuss additional models and issues likely to be
  encountered when merging traditional and emerging services.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Jason Kovari, Cornell University Library<br />
  Wendy Kozlowski, Cornell University Library<br />
  Danielle Mericle, Cornell University Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1fHkTfPe3UJgxYPXzfhMPEqI3YeTp3OTP4rMVDjlY2to/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15049978?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/collaborative-service-models-building-support-for-digital-scholarship"
      title="Collaborative Service Models: Building Support for Digital Scholarship"
      target="_blank"
      >Collaborative Service Models: Building Support for Digital Scholarship</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
