---
title: Community Showcase
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  The Community Showcase will take place on Sunday, November 4 from 1 – 2pm.
  Participants will get a preview of the posters and demos during the Lightning
  Round at lunch. The Community Showcase is an opportunity for participants to
  engage, ask questions, and find out how to get involved.
</p>
<h2>Lightning Round</h2>
<p>
  The Lightning Round will take place during lunch on Sunday, November 4, a
  little before 1PM. A presenter from each poster and demo will give a short 45
  second pitch, providing an opportunity for Forum participants to preview the
  various topics and tools that make up the Community Showcase.
</p>
<h2>Community Showcase Posters and Demos</h2>
<ul>
  <ul>
    <ul>
      <ul>
        <li>
          <strong
            ><a
              href="{{
                '/assets/files/Anvil-Academic-poster-final-web.pdf' | url
              }}"
              >Anvil Academic: A Service-Oriented Publisher for the Digital
              Humanities</a
            ></strong
          >
        </li>
        <p>Korey Jackson (Anvil Academic Publishing)</p>
        <li>
          <strong
            ><a href="{{ '/assets/files/2012-1030-IMLS-poster.pdf' }}"
              >Connecting Presidential Collections</a
            ></strong
          >
        </li>
        <p>
          Sheila Blackford (The Miller Center at the University of Virginia)
        </p>
        <li>
          <strong>Digital Public Library of America Service Hubs Pilot</strong>
        </li>
        <p>Mary Molinaro (The University of Kentucky)</p>
        <li>
          <strong>Do you TEI? A Survey of TEI Practices in Libraries</strong>
        </li>
        <p>
          Michelle Dalmau (Indiana University Digital Library Program) and Kevin
          S. Hawkins (MPublishing, University of Michigan)
        </p>
        <li>
          <strong
            ><a href="{{ '/assets/files/duracloudDLF2012poster.pdf' }}"
              >Health Checking Your Content in the Cloud – Ensuring Data
              Integrity, How DuraCloud Does It</a
            ></strong
          >
        </li>
        <p>Carissa Smith (Duraspace)</p>
        <li>
          <strong
            ><a
              href="https://docs.google.com/document/d/1LFN7w6J5RU-3kYg1bwTrl6tOyzwLQx4Au8k9AALO5VI/edit"
              >Making Mobile Meaningful: Digital Collections for Mobile Users</a
            ></strong
          >
        </li>
        <p>Julie Hardesty (Indiana University)</p>
        <li><strong>Network Analyses of Library Catalog Data</strong></li>
        <p>
          Harriett Green, Kirk Hess, and Richard Hislop (University of Illinois
          at Urbana-Champaign)
        </p>
        <li>
          <strong
            >United We Stand a Chance: Partnerships within Partnerships in the
            Digital Library Space</strong
          >
        </li>
        <p>Gina Siesing (Tufts University)</p>

        <p>
          <strong>Session Notes:</strong><br />
          View the
          <a
            href="https://docs.google.com/document/d/1vzQc1dSaWqY1wmapicn3pBBA72bWcWRSlnOd1ELrttY/edit"
            >community reporting Google doc</a
          >
          for this session!
        </p>
      </ul>
    </ul>
  </ul>
</ul>
