---
title: 'Cracking the Code: Illuminating New Directions in Scholarly Communications and Publishing Initiatives'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description:</strong><br />
  In the last decade, the scholarly communication landscape has shifted. A lot.
  And not just because of digital and networked technology or new information
  policies or the open access movement, but also because of a rise in publishing
  programs based in college and research libraries. As noted in a series of
  reports from the
  <a href="http://www.arl.org/bm~doc/research-library-publishing-services.pdf"
    >Association of Research Libraries</a
  >
  (2008),
  <a
    href="http://www.sr.ithaka.org/research-publications/university-publishing-digital-age/"
    >Ithaka S+R</a
  >
  (2007), the
  <a href="http://www.arl.org/sparc/bm~doc/pub_partnerships_v1.pdf"
    >Scholarly Publishing Academic Resources Coalition</a
  >
  (2009) and the
  <a href="http://docs.lib.purdue.edu/purduepress_ebooks/24/"
    >Institute of Museum &amp; Library Services</a
  >
  (2012), libraries “have begun to expand their role in the scholarly publishing
  value chain by offering a greater range of pre-publication and editorial
  support services” (IMLS, pg. 5). This is a new role for libraries and
  librarians when you think of them as purchasers and organizers of content and
  collections. However, it’s not too far off when you think of them as builders
  and curators of digital libraries. Certain similar skill sets and tools are
  required: market analysis and needs assessment, project management, web
  design, layout, and proofreading, robust technical infrastructure and metadata
  standards, good relationships with authors, creators, and vendors, copyright
  and contract expertise, etc. This forum will utilize the experiences at the
  Marriott and Quinney Libraries at the University of Utah as a starting point
  to discuss these larger topics and build on the
  <a
    href="https://docs.google.com/document/d/1DNkoufVqUkh_NEM3Y2wNAHJlJiw1WJY9LdjGfS7BCUw/edit?hl=en_US#heading=h.9boc1z4nrgs6"
    >New Modes of Publishing</a
  >
  meeting held at last year’s DLF Fall Forum. Whether you are an established or
  experimental publisher, a software developer, a scholarly communications or
  digital librarian, or someone generally interested in new library services,
  attend this session. Come prepared to participate in the discussion and share
  your own experiences.
</p>
<p>
  <em>Topics For Discussion</em><br />
  1. Understanding Our Clients’ Needs:<br />
  How do we understand the needs of the academic community for non-traditional
  publishing? How do we organize requests and prioritize/initiate projects?
</p>
<p>
  2. Exploring New Publishing Technologies:<br />
  What are the pros and cons of the available publishing software? What is the
  proper data model? How do we facilitate re-purposing this content into
  multipledistribution channels?
</p>
<p>
  3. Connecting With Our Audience:<br />
  How do we promote, publicize, market our publications? How do we get our
  content in front of our targeted readers?<br />
  <em
    ><br />
    Univ. of Utah Pilot Projects</em
  ><br />
  We have launched a number of pilot projects to further explore these
  topics:<br />
  • We are partnering with Oxford University Press to publish a website that
  will complement the traditional manuscript that Oxford will publish.<br />
  • We are financially supporting open access publishing for our faculty by
  funding their author fees for OA journals, then publishing the articles
  produced from this funding in our own campus-wide Open Access journal.<br />
  • We are publishing several campus journals using our Open Journal System
  (OJS) installation.<br />
  • We are beginning to investigate potential solutions for crowd-sourcing
  metadata.<br />
  • We have a print-on-demand device (EBM) and are actively exploring ways to
  increase its use with materials published digitally.<br />
  • We are repackaging a Libguide, originally developed for an Honors Think Tank
  course on social media privacy and transparency into an interactive monograph.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Valeri Craigle, S.J. Quinney Law Library, University of Utah<br />
  John Herbert, J.W. Marriott Library, University of Utah<br />
  Anne Morrow, J.W. Marriott Library, University of Utah<br />
  Allyson Mower, J.W. Marriott Library, University of Utah
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1V1FMEW6rjTi_8__NXS0Nw9yviZUPT9UN8D-Riy8LGX8/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
