---
title: 'Data Management Services at the Library: The 3-Hour Tour'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Workshop</p>
<p>
  <strong>Session Description:</strong><br />
  This workshop builds upon the “<a
    href="/the-challenges-and-opportunities-of-providing-research-data-services-perspectives-from-a-cross-section-of-institutions/"
    title="The Challenges and Opportunities of Providing Research Data Services: Perspectives From a Cross-section of Institutions"
    >The Challenges and Opportunities of Providing Research Data Services:
    Perspectives From a Cross-section of Institutions</a
  >” panel.
</p>
<p>
  WORKSHOP AGENDA<br />
  2:00-2:15 – Introduction<br />
  2:15-3:00 – Data from a researcher’s perspective<br />
  3:00-4:00 – Presentation and open discussion on re-tooling the library to
  support data management.<br />
  4:00-4:30 – Open access + open data<br />
  4:30-5:00 – Discussion
</p>
<p>Join us for a discussion of these topics and more:</p>

<ul>
  <li>
    Data from the scientist’s perspective
    <ul>
      <li>What this means for data management</li>
    </ul>
  </li>
  <li>
    How data management is changing libraries
    <ul>
      <li>and demands on library staff members</li>
    </ul>
  </li>
  <li>Emerging trends in open science, open access and open data</li>
</ul>

<p>
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Sherry Lake, University of Virginia<br />
  Dorthea Salo, University of Wisconsin-Madison<br />
  Joan Starr, California Digital Library<br />
  Carly Strasser, California Digital Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1PV7DAqCKPeu_7K7lhmnpUkm3jifK8DW8X-lBYmUdUDw/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15049969"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/carlystrasser/scientistpersp"
      title="Data Management: Scientists’ Perspectives - DLF 2012"
      target="_blank"
      >Data Management: Scientists’ Perspectives – DLF 2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/carlystrasser" target="_blank"
      >Carly Strasser</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15050401"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/carlystrasser/open-data-open-access-dlf-2012"
      title="Open Data &amp; Open Access - DLF 2012"
      target="_blank"
      >Open Data &amp; Open Access – DLF 2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/carlystrasser" target="_blank"
      >Carly Strasser</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/13806071"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/shlake/re-tooling-for-data-managementsupport"
      title="Re tooling for data management-support"
      target="_blank"
      >Re tooling for data management-support</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/shlake" target="_blank"
      >Sherry Lake</a
    ></strong
  >
</div>
