---
title: 'Developing a Content Management System for a Federated Digital Library Using Open Source Tools'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Presentation/Panel<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  This part of the session will overview experiences encountered in the
  development of an open source digital library content management system at the
  University of Kentucky Libraries. An overview of the content management system
  will be offered along with a demonstration of unique features including a
  custom interface for fully digitized archival collections involving Encoded
  Archival Description (EAD) and the system’s ability to ingest the National
  Digital Newspaper Program (NDNP) data set.
</p>
<p>
  Over the last thirteen years, the Kentucky Digital Library, managed by the
  University of Kentucky, has grown in size and membership to include archives,
  special collections, public and private libraries from across the state of
  Kentucky. In 2010, the University of Kentucky embarked on an ambitious
  initiative to create a new content management system for a diverse set of
  complex digital library resource types in order to replace an abandoned DLXS
  system supported through the University of Michigan. Some of the primary goals
  were to allow for much greater scalability, searching across all resource
  types, allowing for enhanced functionality and integration of modern data
  management technologies, and offer a greater level of adaptability and
  functionality than available proprietary solutions. We wanted a system that
  could easily move forward with technology rather than hold us back.
</p>
<p>
  We will also discuss opportunities for distribution of the software for
  adoption and use by other entities. Attendees will also be introduced to a
  demonstration of the current, largely automated loading process for digital
  library content and will have an understanding of how this new content
  management system supports mass digitization initiatives.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Dr. Michael Slone, Digital Library Services, University of Kentucky<br />
  Eric Weig, University of Kentucky
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1ZnG3Qi8Hvu8jAx6j22T48WZoUt7PYm6GiU3LPsbQPK8/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
