---
title: 'Digital Preservation BootCamp and Workshop'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Workshop</p>
<p>
  <strong>Session Description:</strong><br />
  The long term retention and permanent access of digital content is a challenge
  faced by organizations of all sizes. Digital preservation has become the
  general descriptor but what does that include and what are the critical
  elements that should be considered when collection sizes are growing rapidly,
  technology change continues to drive obsolescence yet authenticity and
  permanence of digital collections may be required.
</p>
<p>
  This session is geared for those who want to delve into a technology-oriented
  workshop and want to walk away with an understanding of digital preservation
  techniques and fundamental steps that can be taken to preserve content made up
  of many content types including thesis and dissertations, image collections,
  web harvests or A/V, GIS and other formats.
</p>
<p>
  A discussion on prevalent standards and long term preservation approaches will
  be discussed including normalization, migration and emulation. Also the option
  of using the cloud has become a consideration where the need for your own
  infrastructure and budgets are minimized but where does it fit and how would
  it be used is included. Demonstration and actual examples will be used
  wherever possible and at the end of this session you will be able to engage
  with stakeholders and technologists to discuss the critical functions to be
  considered in digital preservation implementations. A special section on
  building requirements will be included to enable attendees to develop
  requirements that can be used to capture and describe your institution’s
  needs.<br />
  <strong
    ><br />
    Session Leaders: </strong
  ><br />
  Mark Evans, Tessella<br />
  Mike Thuman, Tessella
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1DNGemLnnlPHlLADFtpdR0E7AmlHaQcZ-NQAnryrV11w/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
