---
title: 'Disruptive Components: Re-imagining Finding Aid Delivery on the Web'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  Our presentation will cover the entire process of our project to date, from
  the statement of goals, through the design/build iterations, to the first
  release, focusing the design of the application, the cross-departmental
  collaborative process, data cleanup and enhancement procedures, and the
  advantages of fast and open development procedures. The three session leaders
  will offer their perspectives on the aspects of the project for which they
  were primarily responsible:
</p>
<p>
  * Regine Heberlein will talk about the project goals from the archivist’s
  perspective. She will discuss our current EAD encoding practices and workflows
  for creating finding aids and how new features such as modular display, sort
  functionality, user-contributed data, and the display of digital objects serve
  our users in new ways. She will address the data cleanup we did in preparation
  for the project and present an outlook on planned site enhancements, including
  the implementation of EAC.
</p>
<p>
  * Shaun Ellis will discuss how proposed enhancements were honed through the
  use of UI design-patterns and style-guides, iterative prototyping, “discount
  usability testing”, and new collaboration tools. Shaun will focus on our
  sustainable approach integrating digitized content, and how users expect, and
  should receive, access to content online.
</p>
<p>
  * Jon Stroop will talk about the underlying technologies and algorithms used
  to “break up” the finding aids and facilitate component-level search. He will
  touch on some other features of the application that make web delivery of
  large finding aids more practical and some utilities that were created to do
  value-added work on the data. He will also talk about how the application is
  modeled as a set of RESTful web services, and demonstrate how the site is
  managed via those services and supports access to the data in other formats,
  e.g. as PDF, XML, and RDF.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Shaun Ellis, Princeton University Library<br />
  Regine Heberlein, Princeton University Library<br />
  Jon Stroop, Princeton University Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1ZnG3Qi8Hvu8jAx6j22T48WZoUt7PYm6GiU3LPsbQPK8/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
