---
title: 'From Project to… Services?'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  The Carolina Digital Library and Archives (CDLA) at the University of North
  Carolina at Chapel Hill, like many digital library units in academic
  libraries, is in the midst of a shift away from project-based work towards
  more sustainable approaches. We have found ourselves in a familiar position,
  with high-profile digital collections and significant past successes that grew
  up organically and experimentally, without an underlying strategic
  technological or programmatic theme. Our take on the “from project to program”
  transition involves introducing a new focus on core services that can scale
  and be widely offered to library staff and to scholars. This presentation will
  describe the CDLA’s early service efforts, such as weekly office hours,
  facilitating project planning for technology initiatives proposed to our
  Library Technology Council, regularly scheduled technology-focused
  presentations and discussions, and the introduction of the Omeka software in a
  pilot phase; offer initial thoughts on how we plan to assess these services
  and the need for others; and describe our next steps in this ongoing
  transition. The session will also offer insights into how the CDLA’s core
  services fit into the UNC Library’s wider digital library and repository
  technology plans, describing our vision how both will work together to allow
  us to continue to scale up our efforts and adapt to a world of constant
  technological migration.
</p>
<p>
  <strong>Session Leader:</strong><br />
  Jenn Riley, University of North Carolina at Chapel Hill
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1fHkTfPe3UJgxYPXzfhMPEqI3YeTp3OTP4rMVDjlY2to/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:<br /> </strong
  ><iframe
    src="http://www.slideshare.net/slideshow/embed_code/15034006?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/riley-15034006"
      title="From Projects to... Services"
      target="_blank"
      >From Projects to… Services</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
