---
title: 'GOKb & KB+: An International Partnership to leverage Open Access and Community Participation for the improvement of eContent MetaData'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research/Project Update</p>
<p>
  <strong>Session Description:</strong><br />
  This research update will feature leaders from the GOKb and KB+ projects.
</p>
<p>
  GOKb was funded in June 2012 by the Andrew W. Mellon Foundation to build a
  community-sourced knowledgebase for access to electronic resource metadata. It
  aims to enhance the supply chain lifecycle for libraries in managing
  electronic resources, mobilizing community effort to add quality, timeliness
  and economies to the library management environment. The project is a joint
  international initiative between the Kuali OLE Partners and JISC Collections.
  Kuali OLE is the one of the largest academic library software collaborations
  in the US and JISC Collections is a membership organization, established by
  the UK Higher and Further Education funding councils, to support the
  procurement of digital content for education and research.
</p>
<p>
  JISC Collections is also running KB+, the companion UK project focused
  primarily on developing trusted data and workflows for locally negotiated
  e-resource packages. The project recognizes the value of the GOKb
  international effort in establishing the same quality of data for global
  titles and packages. On account of its national remit, the KB+ project also
  includes consortia features relating to licensing and entitlement data, which
  would otherwise be part of an institutionally maintained ERM.
</p>
<p>
  In this presentation we will discuss how the two projects have collaborated
  internationally to address globally-identified operational problems, leading
  to convergent roadmaps that include shared solution transfer formats
  (KBART-based), data models (building on ERMI), rules base and re-use of the
  Kuali OLE document store repository.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Michael Winkler, University of Pennsylvania<br />
  Robert McDonald, Indiana University<br />
  David Kay, Sero Consulting<br />
  Liam Earney, JISC Collections
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1kMjEpB5-nfqnp7d2_1hGl6YA24jPhh3eGMmWfBmwb1M/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15019214"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/rhmcdonald/gokb-kb-an-international-partnership-to-leverage-open-access-and-community-participation-for-the-improvement-of-econtent-metadata"
      title="GOKb &amp; KB+: An International Partnership to leverage Open Access and Community Participation for the improvement of eContent MetaData"
      target="_blank"
      >GOKb &amp; KB+: An International Partnership to leverage Open Access and
      Community Participation for the improvement of eContent MetaData</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/rhmcdonald" target="_blank"
      >Robert McDonald</a
    ></strong
  >
</div>
