---
title: 'HathiTrust: Sharing the Care and Feeding of the Elephant'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  HathiTrust integrates existing content, processes and workflows from a variety
  of extant systems and an ever-increasing number of partners. This federation
  of institutions and systems necessitates a different organizing principle than
  that for most single-institution systems, at the administrative and data
  levels. Michigan has played a significant role in shaping the principles and
  guidelines for content placed into HathiTrust. Michigan staff will share their
  own experience of working with their library’s materials in HathiTrust,
  information that may be useful to any institution looking at integration or
  long-term preservation of digital projects in any repository.
</p>
<p>
  The integration of material in HathiTrust makes the differences in
  institutional practice more apparent, and decisions preferring one among a
  variety of different policies are difficult to make. Even within standard
  formats like MARC, there are many different ways of describing the same item.
  For older materials without standard identifiers such as ISBNs or even LCCNs,
  how can you identify, let alone normalize, this variation? But without
  normalization, how can you ensure your volumes are included with others from
  the same set? And as individually-created projects are ingested, differences
  in practice can be magnified, and a lack of the type of administrative
  metadata available for more recent digitization processes increases
  uncertainty about variation that is meaningful and intentional and that which
  is incidental and unintentional.
</p>
<p>
  In short, HathiTrust faces a series of interesting challenges as content,
  processes, and workflows from multiple partners and extant systems are
  integrated. We will discuss these challenges, and provide relevant examples,
  for:<br />
  - managing updates to information maintained in separate systems<br />
  - recognizing and managing normalization across the variation (cataloging,
  quality, collections) inherent in a large system<br />
  - organizing administrative and data levels to utilize principles of
  organization for metadata and data with a long term perspective that assumes
  federation.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Kat Hagedorn, University of Michigan<br />
  Christina Powell, University of Michigan<br />
  John Weise, University of Michigan
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1wael4ugt7LxZFQLeYmJ04SirJGYyWEgZYRWNGoVRpSA/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15056112"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/khage1/dlf-2012-weisepowellhagedorn-15056112"
      title="HathiTrust: Sharing the Care and Feeding of the Elephant: Digital Library Federation Forum 2012"
      target="_blank"
      >HathiTrust: Sharing the Care and Feeding of the Elephant: Digital Library
      Federation Forum 2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/khage1" target="_blank"
      >khage1</a
    ></strong
  >
</div>
