---
title: '2012 DLF Forum: Denver, Colorado'
layout: page.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Overview</h2>
<p>
  The 2012 DLF Forum was held in Denver, Colorado,&nbsp;Sunday, November 4th –
  Monday, November 5th, 2012, with pre- and post-conference events on November
  2nd, November 3rd, and November 6th. All sessions and events took place at the
  <a
    href="http://www.starwoodhotels.com/westin/property/overview/index.html?propertyID=1012"
    >Westin Denver Downtown</a
  >.
</p>
<p>
  Forum participation is open to all who are interested in contributing to and
  playing an active part in the successful future of digital libraries, museum
  and archives services, and collections. The Forum featured presentations and
  panels, workshops, research updates, working sessions, demos, and more. Please
  visit our
  <a href="https://www.diglib.org/dlf-events/2012forum/2012-dlf-forum-schedule/"
    >Schedule</a
  >
  page for details.
</p>
<p>
  To receive the most recent news about the forum, subscribe to the
  <a href="https://www.diglib.org/category/forum/feed/">Forum Newsfeed</a>.
</p>
<p>
  Search for the hash tag
  <a href="http://twitter.com/#!/search/realtime/%23dlfforum">#dlfforum</a> to
  view tweets about the DLF Forum!
</p>
<p>&nbsp;</p>
<h2>
  The 2012 DLF Forum is
  <a
    href="https://www.diglib.org/dlf-events/2012forum/2012-dlf-forum-sponsorship/"
    >sponsored</a
  >
  in part by…
</h2>
<p class="mt-5">
  {% image 'assets/images/Research_bL1-e1344977520228.png',
  'MicrosoftResearch_bL', 'mx-auto d-block' %}
</p>
