---
title: 'Institutional OA policy implementation: The Joys and Challenges'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description:</strong><br />
  The adoption of an institutional Open Access policy, while a happy event,
  presents enormous implementation challenges. Chief among these is the
  development of a simple, intuitive and virtually labor-free system for faculty
  compliance. One strategy for meeting this request has been for librarians to
  do much of the work of gathering the correct manuscript version and generating
  metadata before depositing in the institutional repository on behalf of
  faculty. On campuses where librarians’ time is already stretched thin, this
  personalized approach may not be feasible. It is therefore necessary to
  develop semi-automated, self-service solutions to bridge the gap between
  faculty needs and available library resources.
</p>
<p>
  California Digital Library has recently been tasked with such an
  implementation scenario, following UCSF’s adoption of an OA policy. We have so
  far developed a waiver &amp; addendum portal that allows faculty to request
  these documents without librarian intervention.
</p>
<p>
  Our current challenge is the development of a streamlined, intuitive
  submission workflow that utilizes 3rd-party services to automate processes
  such as rights checking and file and metadata harvesting.
</p>
<p>
  We’ll begin this working session by briefly describing the policy
  considerations that have informed our development of a submission and waiver
  request workflow. We’ll then share the latest mock-ups and demos of our new
  submission workflow, highlighting successes, challenges and remaining
  roadblocks.
</p>
<p>
  In the second half of the session, we’ll explore the challenges and roadblocks
  in more detail, focusing on such topics as synching harvested publications
  with local deposits, facilitating deposit in multiple repositories, providing
  aggregated usage statistics across repositories, identifying and pointing end
  users to the publication of record, etc. Our hope is that the session will not
  only help to move our own implementation forward, but will provide valuable
  guidance for other institutions that are (or will be) working to establish a
  customized, resource-light OA policy implementation.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Justin Gonder, California Digital Library<br />
  Catherine Mitchell, California Digital Library<br />
  Lisa Schiff, California Digital Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/14GY2YlrlsZZHj6XzemssXg3P9wbPufUAa3nyxnH_qNQ/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15270851"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/lisaschiff/dlf-fall-2012v2"
      title="DLF Fall 2012: Institutional OA Policy Implementation: The Joys and Challenges"
      target="_blank"
      >DLF Fall 2012: Institutional OA Policy Implementation: The Joys and
      Challenges</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/lisaschiff" target="_blank"
      >lisaschiff</a
    ></strong
  >
</div>
