---
title: 'Introducing NYU to the Digital Humanities: A Faculty-Library Partnership'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  As the practice of Digital Humanities becomes more widespread in the academy,
  libraries are finding new opportunities to collaborate with scholars in their
  DH work. At NYU, interest in DH is burgeoning and scholars are looking to the
  Libraries for information, training, guidance, and partnership to explore the
  possibilities of DH for research and teaching. With the NYU English Department
  and the NYU Humanities Initiative, we are currently developing a Fall 2012
  “Introduction to DH” workshop series for graduate students and faculty. After
  reviewing a variety of “Intro” courses at other institutions and assessing
  English department graduate student needs, we developed a semester-long
  curriculum that will frame each session within a topical DH debate, repackage
  some existing Libraries and Information Technology Services workshops on
  enterprise academic technologies, and also introduce other appropriate tools.
</p>
<p>
  With this new venture, we’re taking an iterative, learn-as-we-go approach.
  Discussion and laptop hands-on sessions will be held in a new, flexible
  teaching and learning venue within the Library, allowing us to introduce and
  test the usability of the space. Designated session observers will relay what
  is and is not working so we can adjust mid-course. Session participants will
  receive questionnaires to provide feedback and help us judge the effectiveness
  of the presentations, demonstrations, additional resources, and readings.
</p>
<p>
  Our presentation will provide an overview of what other
  institutions–especially libraries–are doing in this “Introduction to DH”
  space, explain how we chose the topics for our workshop curriculum, and
  describe our developing partnerships with NYU faculty and programs. Three of
  our “Intro” sessions will have occurred before the DLF Forum, so we will also
  provide a midstream review of our series to date. Finally, we will lead a
  discussion to hear how others are addressing DH training and support, and to
  consider emerging library roles and partnerships in this domain.<br />
  <strong
    ><br />
    Session Leaders: </strong
  ><br />
  Monica McCormick, New York University<br />
  Annette Smith, New York University<br />
  Jennifer Vinopal, New York University
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1fHkTfPe3UJgxYPXzfhMPEqI3YeTp3OTP4rMVDjlY2to/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Resources:</strong><br />
  <a href="http://archive.nyu.edu/handle/2451/31644"
    >Link for slides plus speaker notes.</a
  >
</p>
