---
title: 'Metridoc: Extensible Infrastructure for Metrics and Analytics'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Research/Project Update<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  This research update will feature assessment experts from the University of
  Pennsylvania and potential partners.
</p>
<p>
  Metridoc, an extensible framework that supports assessment and analytics, was
  funded in 2011 by an IMLS grant. Metridoc provides tools for the collection of
  data from heterogeneous sources. Business intelligence gives managers greater
  insight into use and effectiveness of services. But data points from the great
  variety of systems employed – gate counts, ILS fund accounting, discovery tool
  use, Counter statistics, resource sharing systems, and others – are difficult
  to aggregate, do not share common or normal data definitions, and have
  valuable information encoded in difficult to understand formats. Metridoc
  seeks to improve business intelligence in libraries by providing tools to
  overcome these data challenges and inconsistencies by aggregating these many
  data in normalized and resolved form in a data repository that supports
  analysis and visualization tools.
</p>
<p>
  Metridoc employs a plugin architecture that is accessible to library staff so
  that new or site specific data collectors or resolvers can be generated. A
  data collector gathers data from a specific system’s log files or in real
  time, and transforms that data into a data warehouse format. Currently,
  Metridoc data collection plugins have been created for Counter data from
  publishers, ILLiad and Relais resource sharing transactions, and fund
  accounting data. Additionally, during transformation, Metridoc can reach out
  to authoritative sources of data to resolve encoded information such as DOIs,
  User IDs, or account codes, into more useful bibliographic, demographic, or
  organizational values.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Tommy Barker, University of Pennsylvania<br />
  Joe Zucca, University of Pennsylvania
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/14soULJZt-jfdYodCcRd1sdqx9cbjWJQa_Wx-RQVQYDU/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
