---
title: 'METS Editorial Board Meeting'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  The
  <a href="https://www.diglib.org/community/collaborations/mets/"
    >METS Editorial Board</a
  >
  is an international group of volunteers committed to maintaining editorial
  control over METS, its XML Schema, the METS Profile XML Schema, and official
  METS documentation. The Board promotes the use of the METS specification,
  maintains a registry of METS Profiles, and endorses best practices in the use
  of METS as they emerge. Our Denver meeting will focus on the next generation
  of METS.
</p>
<p>
  <strong
    >This is a free meeting open to the interested public. Please email
    Elizabeth McKelvey (elizabeth.mckelvey [at] bc [dot] edu) if you would like
    to attend.</strong
  >
</p>
