---
title: 'mPach: Publishing directly in HathiTrust'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  MPublishing, the University of Michigan’s library-based publishing enterprise,
  has been using DLXS for many of its publishing needs, but the system’s
  architecture constrains its ability to support the structure of journals and
  the features that MPublishing wishes to offer for its publishing services. In
  order to grow, MPublishing needs a platform free from these constraints.
</p>
<p>
  HathiTrust, a shared digital repository, has been archiving and providing
  access to reformatted library holdings, and monographs submitted by university
  presses at partner institutions. Since libraries are increasingly involved in
  open-access publishing of journals, HathiTrust is a natural place to archive
  and provide access to born-digital publisher content to ensure its long-term
  preservation and discoverability.
</p>
<p>
  We see an opportunity to address the needs and values of both publishers and
  archivists, while developing a shared infrastructure in support of low-cost,
  open university-based publishing. Therefore, the University of Michigan
  Library is funding a two-year project to develop a package of tools called
  mPach for publishing journals in the HathiTrust repository.
</p>
<p>
  mPach is envisioned as an end-to-end publishing system. The core modules
  provide tools for normalizing a manuscript into a standard, preservable,
  fully-encoded XML document (employing the JATS schema); assembling the article
  XML and its related media files in a Submission Information Package (in METS
  schema); ingesting the SIP into HathiTrust; and rendering the JATS XML in the
  HathiTrust GUI.
</p>
<p>
  APIs will be provided to extend either end of this core publishing chain.
  Michigan will develop a plugin to leverage the peer review management features
  of OJS, and HathiTrust’s Data API will be extended to allow other custom
  presentations of mPach content.
</p>
<p>
  In this presentation, Kevin Hawkins and Jeremy Morse of MPublishing will
  provide an overview of the mPach project, its goals and system architecture,
  and demonstrate a working prototype of the work in progress.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Kevin Hawkins, University of Michigan<br />
  Jeremy Morse, University of Michigan
</p>
<p>
  <strong>Session Notes:</strong><br />
  Contribute to the
  <a
    href="https://docs.google.com/document/d/1wael4ugt7LxZFQLeYmJ04SirJGYyWEgZYRWNGoVRpSA/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
