---
title: 'New Strategies for Managing Manuscripts in Digital Libraries'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description: </strong><br />
  This presentation will provide an update on the University of Virginia
  Library’s work to bring in the heterogeneous content that is digitized
  manuscript materials into a stewarded digital environment. We are working to
  combine the digitization of manuscripts and archives with the onslaught of
  born digital content to create a single, open source solution to managing
  digital content in all of its simple, hierarchical, and aggregate forms. We
  are applying Fedora content models to these materials and managing through a
  series of ingest protocols that can take static elements such as an EAD.XML
  and atomize it into its constituent components. This would allow for both a
  nuanced management as well as fine-grained IP solution for collections that
  have mixed rights associated with that content. These efforts seek to dedupe
  redundant metadata management strategies that are often part of manuscript
  workflows. For example, many archives store collection level metadata in MARC
  as well as EAD. This new research approach would allow for the creation of a
  single collection object that could contain all the information related to the
  collection. This could be the collection object that curators manage or it
  could take the output from a variety of other standardized software packages
  (e.g. Archivists’ Toolkit, EAD, etc).
</p>
<p>
  Building on the lessons learned from the AIMS grant (Born Digital Materials:
  An Inter-Institutional Approach to Stewardship), this work seeks to provide
  the means for creating a comprehensive solution to how manuscript data can be
  integrated in the basic search functions of a digital library environment as
  well as how that data can be structured to avoid redundant metadata
  management. There currently exists no single open source solution that can
  manage such heterogeneous materials and the complicated structures and rights
  they often imply available to libraries and archives. We hope to change that.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Bradley Daigle, University of Virginia<br />
  Mike Durbin, University of Virginia
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1ZnG3Qi8Hvu8jAx6j22T48WZoUt7PYm6GiU3LPsbQPK8/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15052938"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/BradleyDaigle/archival-data-presentation-for-digital-library-federation"
      title="Archival Data Presentation for Digital Library Federation"
      target="_blank"
      >Archival Data Presentation for Digital Library Federation</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/BradleyDaigle" target="_blank"
      >BradleyDaigle</a
    ></strong
  >
</div>
