---
title: 'No tempest in my teapot: Analysis of Crowdsourced Data and User Experiences at the California Digital Newspaper Collection'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Presentation/Panel<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  The National Library of Australia enabled OCR text correction for digitized
  historical newspapers since it was first put online in mid-2008. By the end of
  that year, volunteers from around the globe were correcting newspaper text in
  Australia’s Trove collection at the rate of more than 300,000 lines per month.
  This rate has since risen to approximately 2,400,000 lines per month (June
  2012). The top producer alone has corrected more than 2,250,000 lines.
</p>
<p>
  At the California Digital Newspaper Collection user OCR text correction began
  in August 2011. As of July 1, 2012, 636 registered volunteers have corrected
  approximately 370,000 lines of newspaper text, with the most dedicated user
  correcting more than 150,000 lines.
</p>
<p>
  What motivates Trove and CDNC volunteers? Who are they? In this session we
  look at
</p>
<p>
  1. Demographics: What is the age of text correctors, their profession, gender,
  and how did they learn about CDNC text correction?<br />
  2. Experiences: What do text correctors like about newspapers and about the
  text correction?<br />
  3. Motivation: What makes users correct text?<br />
  4. Quality: OCR of newspaper text is often of very poor quality. What is the
  quality of the crowdsourced corrected text?<br />
  5. Preferred data: What types of newspaper stories do text correctors
  prefer?<br />
  6. Economics: What is the estimated economic value of corrected text? What are
  the costs of providing a text correction infrastructure?
</p>
<p>
  Finally we look at the differences and similarities in between the Trove and
  CDNC collections and volunteers and other non-newspaper library or archival
  collections that have used crowdsourcing.<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Brian Geiger, California Digital Newspaper Collection, University of
  California Riverside<br />
  Frederick Zarndt, IFLA Newspapers Section
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1or0GUeukeo8MMyVEZAJlk5xc8HJlQwE7ImXPCx9zmr4/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15116343"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/cowboyMontana/20121105-no-tempest-in-my-teapot-dlf-forum-denver"
      title="20121105 no tempest in my teapot [dlf forum denver]"
      target="_blank"
      >20121105 no tempest in my teapot [dlf forum denver]</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/cowboyMontana" target="_blank"
      >Frederick Zarndt</a
    ></strong
  >
</div>
