---
title: 'Personal Scholarly Archiving: Studying Faculty’s Information Workflow'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Research/Project Update<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  This research update will detail and discuss the preliminary qualitative data
  findings of an Andrew W. Mellon Foundation funded, Penn State University-based
  study of faculty’s scholarly personal libraries and personal archiving. This
  study delves into the personal online scholarly workflow of faculty across
  disciplines encompassing the sciences, humanities, and social sciences,
  including history, education, and the physical sciences. The study builds on
  previous research in the area of scholarly personal information management and
  personal archiving, aiming to expand findings beyond the realm of the
  humanities, identifying and mapping scholars’ needs across a wider range of
  academic disciplines.
</p>
<p>
  The project, funded by the Mellon Foundation through Spring, 2013, is an
  ethnographic study of faculty behaviors and articulated needs central to
  robust scholarly creation and successful navigation of the personal archiving
  and information management process. The study will lead to recommended design
  principles for archival and discovery interfaces, as well as identification of
  critical digital and information literacies for faculty management of
  personal, scholarly libraries. The study will also reveal recommended
  practices for public services librarians and archivists supporting faculty’s
  scholarly archiving and personal information management needs. Attendees will
  learn about the scope and focus of the study, will discuss preliminary
  findings, and will have the opportunity to ask questions and share community
  insights with the project’s researchers, with regard to initial project
  discoveries and next steps.<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Smiljana Antonijevic, Penn State University Libraries<br />
  Ellysa Stern Cahoy, Penn State University Libraries<br />
  Ben Goldman, Penn State University Libraries
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1nfdNES-v7cwbfuNMSei2WUR7Vm7N7nIG_-0VF4tOF8Q/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="https://web.archive.org/web/20130504060153if_/https://docs.google.com/presentation/embed?id=1i9ljb9cmTRl6IMYwhacsCErzfRh0J0ki0RvG2fQ3Drc&amp;start=false&amp;loop=false&amp;delayms=3000"
    frameborder="0"
    width="550"
    height="500"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
    data-ruffle-polyfilled=""
  ></iframe>
</p>
