---
title: 'Public Knowledge Project: From Open Source to Community Source'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research/Project Update</p>
<p>
  <strong>Session Description:</strong><br />
  This session will provide a progress report on the Public Knowledge Project’s
  evolving relationship with its new development partners and their impact on
  PKP’s software activities and overall governance of the project. It will also
  highlight the recent production release of Open Monograph Press (OMP) and the
  key roles already being played by the partners.
</p>
<p>
  In 2011 PKP launched a sustainability initiative to ensure the ongoing
  development and support of Open Journal Systems (OJS) and other PKP software.
  One intent was to reduce the reliance on grant funding, but the more
  significant driver was the continued uptake and use of the software and the
  realization that a single, relatively small team was an insufficient resource
  in the long term.
</p>
<p>
  A key strategy of the PKP’s sustainability program was to leverage the growing
  user community and encourage their more direct participation in the ongoing
  development and support of the software, and the evolution of the project into
  a more sustainable entity. PKP was already receiving significant community
  support in traditional open source ways – code contributions, language
  translations, participation in testing new releases, and so on. But this was
  also very informal and ad hoc and not being managed in a very proactive
  manner. PKP actively sought out sites that were interested and able to become
  development partners and provide both financial and in-kind support. By
  mid-2012, three development partners – University of Pittsburgh Libraries,
  California Digital Library, and University of British Columbia Libraries –
  have joined forces with PKP.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Brian Owen, Simon Fraser University Library/Public Knowledge Project<br />
  Barbara Hui, California Digital Library<br />
  Lisa Schiff, California Digital Library<br />
  Alec Smecher, Public Knowledge Project
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1kMjEpB5-nfqnp7d2_1hGl6YA24jPhh3eGMmWfBmwb1M/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15195662?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/public-knowledge-project-15195662"
      title="Public Knowledge Project"
      target="_blank"
      >Public Knowledge Project</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
