---
title: 'Registration'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h2>Registration Fees</h2>
<p>
  <strong>Online registration for the 2012 DLF Forum is now closed.</strong>
  Interested parties that did not make the online registration cut off date will
  be able to register in person at the Forum if there is still space available.
  If registration capacity is reached before the Forum, a notice will be posted
  on this page and elsewhere.
</p>
<p>
  Project Managers Meeting, Taiga Forum, CURATEcamp, and THATcamp participants
  may register for the 2012 DLF Forum at the DLF Member rate.
</p>
<p>
  Registration for the Project Managers Meeting and CURATECamp was through the
  DLF Forum online registration system, which is now closed. If interested in
  attending one of these meetings, you may register in person at the Forum.
</p>
<p>
  Registration for DH &amp; Libraries THATCamp was on a “first-in” basis and is
  now full.
</p>
<p>Please email jwinberry@clir.org with any registration questions.</p>

<table class="table">
  <tbody>
    <tr>
      <th colspan="2" align="left">
        <h2>
          <a
            title="2012 DLF Forum: Denver, Colorado"
            href="http://www.regonline.com/2012dlfforum"
            >DLF Forum</a
          >
        </h2>
      </th>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>Members</h3>
      </th>
    </tr>
    <tr>
      <td>$350</td>
    </tr>
    <tr></tr>
    <tr>
      <th colspan="2" align="left">
        <h3>Non-Members</h3>
      </th>
    </tr>
    <tr>
      <td>$575</td>
    </tr>
    <tr></tr>
    <tr>
      <th colspan="2" align="left">
        <h3>Full-Time LIS Graduate Students</h3>
      </th>
    </tr>
    <tr>
      <td>$250</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h2>Affiliated Events</h2>
      </th>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a href="http://www.regonline.com/2012dlfforum"
            >Project Managers Meeting</a
          >
        </h3>
      </th>
    </tr>
    <tr>
      <td>Members/Students</td>
      <td>$25</td>
    </tr>
    <tr>
      <td>Non-Members</td>
      <td>$35</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a href="http://www.regonline.com/2012dlfforum" title="CURATECamp"
            >CURATECamp</a
          >
        </h3>
      </th>
    </tr>
    <tr>
      <td>All</td>
      <td>$75</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a href="http://www.regonline.com/taiga8" title="Taiga Forum 8"
            >Taiga Forum 8</a
          >
        </h3>
      </th>
    </tr>
    <tr>
      <td>All</td>
      <td>$95</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a href="http://dhlib2012.thatcamp.org/register/"
            >THATCamp Digital Humanities &amp; Libraries</a
          >
        </h3>
      </th>
    </tr>
    <tr>
      <td>All</td>
      <td>$25</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a
            href="/mets-editorial-board-meeting/"
            title="METS Editorial Board Meeting"
            >METS Editorial Board Meeting</a
          >
        </h3>
      </th>
    </tr>
    <tr>
      <td>All</td>
      <td>Free</td>
    </tr>
    <tr>
      <th colspan="2" align="left">
        <h3>
          <a href="http://sits-dlf2012.eventbrite.com/">SIITS Workshop</a>
        </h3>
      </th>
    </tr>
    <tr>
      <td>All</td>
      <td>Free</td>
    </tr>
  </tbody>
</table>
