---
title: 'Semantic Web SEO for Digital Libraries'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Workshop</p>
<p>
  <strong>Session Description:</strong><br />
  Google, Bing and Wolfram Alfa are bringing a new level of sophistication to
  Internet search as they begin to emphasize semantic content over basic keyword
  indexing. Some of the results can already be seen with Apple’s introduction of
  Siri and Google’s rich snippets. This workshop focuses on the concepts and
  tools needed by collection managers, library metadata catalogers and IT staff
  to begin increasing the reach, access and visibility of digital libraries in
  the Semantic Web paradigm. The workshop will also prove useful to anyone
  making or justifying funding and resource allocation decisions related to the
  digital library.
</p>
<p>
  Semantic Web SEO is characterized by a number of concepts that help achieve
  the goals of increasing library reach by making digital collections more
  accessible and visible. Intelligent search engines will seek and utilize
  well-structured linked data that improves processing efficiency and the
  ability to return more accurate results and a richer search experience for
  users. Semantic search places less importance on the wording of a query and
  uses probabilities and algorithms to determine intent of the user. In this
  workshop we demonstrate how linked data concepts and Schema.org can be
  incorporated into digital libraries to improve search engine contextual
  understanding of collections and deliver a better experience to their users.
</p>
<p>
  SEO requires tools to measure the effect of your efforts and the value it
  produces. We will provide a framework and a Google Analytics Scorecard that
  digital repository collection managers, libraries and their funders can use as
  a baseline for making informed decisions and tracking progress toward the goal
  of increasing access and visibility of digital libraries.
</p>
<p>
  Attendees of this workshop will gain knowledge in the following areas:<br />
  1. A basic understanding of Semantic Web SEO and its two most important
  concepts for digital repositories.<br />
  2. A baseline Google Analytics dashboard to support pre/post funding decisions
  and the knowledge to get started<br />
  3. Simplifying the setup and administration of Google Analytics and Google
  Webmaster for their entire organization and their stakeholders<br />
  4. A basic understanding of how to incorporate Schema.org and linked data into
  a digital repository<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Kenning Arlitsch, University of Utah<br />
  Patrick OBrien, University of Utah
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1JGXNhgMq53JWve6MQvW5WHpfkIxLjV4F4Ji9VrxT83A/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15395676"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/nomadusg/semantic-web-seo-using-linked-data-and-schemaorg-to-improve-library-reach-and-digital-repository-access"
      title="Semantic Web SEO: Using Linked Data and schema.org to improve Library Reach and Digital Repository Access"
      target="_blank"
      >Semantic Web SEO: Using Linked Data and schema.org to improve Library
      Reach and Digital Repository Access</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/nomadusg" target="_blank"
      >Patrick OBrien</a
    ></strong
  >
</div>
