---
title: Social Networks and Archival Context Project
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research/Project Update</p>
<p>
  <strong>Session Description:</strong><br />
  Current archival descriptive practices are focused around describing
  collections with finding aids, often employing the Encoded Archival
  Description (EAD) standard. Encoded Archival Context for Corporate Bodies,
  Persons, and Families (EAC-CPF) — adopted by the Society of American
  Archivists in 2011 — focuses on describing the creators of collections, rather
  than the collections themselves. Could a change in descriptive focus and
  practice improve access to historical materials — and lead to the creation of
  an unprecedented resource for exploring the histories of creators of cultural
  heritage resources, navigating to dispersed resources by and about those
  creators, and traversing their social networks?
</p>
<p>
  This question is being investigated by the Social Networks and Archival
  Context (SNAC) project — a multi-year collaboration between the Institute for
  Advanced Technology in the Humanities, University of Virginia; the School of
  Information, University of California, Berkeley; and the California Digital
  Library, generously funded by the Andrew W. Mellon Foundation (2012-2014) and
  the National Endowment for the Humanities (2010-2012).
</p>
<p>
  Thirteen consortia and over thirty-five leading research repositories in the
  U.S., U.K., and France are contributing source data to SNAC, either finding
  aids or archival authority records. Names of corporate bodies, persons, and
  families are extracted from collection descriptions. The records are then
  merged with the goal of creating one EAC-CPF record for each named entity
  which links together collection descriptions and other resources and entities
  related to the subject of the record.
</p>
<p>
  This update will give a comprehensive overview of the SNAC project, including
  the technology design of the data processing performed to create the records,
  the role of linked open data in the project, assessment of the prototype
  historical resource developed by the project, and the collaboration that is
  envisioned for turning the research project into an ongoing archival
  authorities program.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Ray R. Larson, School of Information, UC Berkeley<br />
  Daniel Pitti, IATH<br />
  Brian Tingle, California Digital Library<br />
  Adrian Turner, California Digital Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1nfdNES-v7cwbfuNMSei2WUR7Vm7N7nIG_-0VF4tOF8Q/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15059948"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/tinglebrian/dlf-2012-15059948"
      title="Dlf 2012"
      target="_blank"
      >Dlf 2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/tinglebrian" target="_blank"
      >Brian Tingle</a
    ></strong
  >
</div>
