---
title: 'Stuff You Should Know'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Green Initiatives</strong><br />
  For the 2012 DLF Forum we will continue our green initiatives from the 2011
  DLF Forum (offering filtered water instead of bottled, using compostable badge
  holders, and limiting paper materials) and encourage all of our session
  leaders to use electronic methods of dispersing information, such as
  <a href="http://www.slideshare.net/">Slideshare</a>
  and <a href="https://docs.google.com/">Google docs</a>, instead of hand outs.
  Additionally, since we will be at high altitude, we will be distributing
  reusable CLIR/DLF (BPA free and recyclable) water bottles at check in.
</p>
<p>
  We will also be using the Guidebook app again this year, which allows
  participants to download the Forum schedule on a smart phone or tablet. In
  addition to saving some trees, this application has interactive functionality–
  create a personalized agenda, view the participants list, set reminders, or
  start a to-do list! Click the button below for details on downloading.
  <strong
    >If you prefer a hard copy of the schedule, please remember to print one
    before leaving home!</strong
  >
</p>

<p>
  <strong>Community Reporting</strong><br />
  The Program Planning Committee needs your help to report on DLF Forum
  sessions. You may have experienced this “crowdsourced reporting” at other
  conferences or meetings. The goal is to have a single place where those who
  cannot attend the session can learn about what was discussed and expand the
  conversation beyond the Forum. We are creating Google docs, editable by all,
  that will be linked from the individual session pages (you can find a session
  page by clicking on its title from the main
  <a href="{{ '/2012-dlf-forum-schedule/' | url }}">Schedule</a>
  page). We will also try to announce the URLs at the top of each session and
  via Twitter. If you take notes during a DLF session, please consider doing so
  on the Google doc for that session and contributing to this community effort!
</p>

<p>
  Denver is at
  <a href="http://www.denver.org/metro/high-altitude-tips">mile high altitude</a
  >, so please remember to drink lots of water throughout the Forum! We will
  provide free, reusable water bottles at the registration/check-in desk.
</p>
<p>
  <strong>Dress Code</strong><br />
  Casual.
</p>
<p>
  <strong>Code of Conduct</strong><br />
  The Digital Library Federation is dedicated to providing a harassment-free
  conference experience for everyone regardless of gender, sexual orientation,
  disability, physical appearance, body size, race, or religion. We do not
  tolerate harassment of conference participants in any form. Sexual or
  discriminatory language and imagery is not appropriate for any conference
  venue, including talks. DLF Forum participants violating these rules may be
  sanctioned or expelled from the conference at the discretion of the conference
  organizers.
</p>
<p>
  Please review the
  <a
    href="https://www.diglib.org/about/code-of-conduct/"
    title="Code of Conduct"
    >DLF Code of Conduct</a
  >
  for a full statement on our policies regarding inappropriate conduct and
  harassment. We expect participants to follow these rules at all conference
  venues and conference-related social events.
</p>
<p>
  <strong>Important Phone Numbers</strong><br />
  Westin Denver Downtown Security: Extension 7492 from any hotel phone, or dial
  2 for the operator to dispatch security to your location in case of
  emergency.<br />
  Denver Police Department: (720) 913-2000<br />
  Anti-Violence Program Hotline: 303-852-5094<br />
  Local emergency medical assistance: 9-1-1<br />
  Local hospital, Presbyterian – St. Luke’s Medical Center: (303) 861-4674<br />
  Yellow Cab: (303) 777-7777<br />
  Metro Taxi: (303) 333-3333
</p>
