---
title: Sustaining ArchivesSpace
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research/Project Update</p>
<p>
  <strong>Session Description:</strong><br />
  In this session, we will review the sustainability plan for the ArchivesSpace
  open source software and the ArchivesSpace community. We will also share the
  software development roadmap.
</p>
<p>
  LYRASIS has been selected as the “organizational home” for ArchivesSpace. Our
  update will include information about the services LYRASIS plans to provide to
  the ArchivesSpace community. It will also explain how all kinds of cultural
  heritage organizations can get involved through a variety of sponsorship and
  membership options.
</p>
<p>
  The software development roadmap will help community members who are already
  using Archivists’ Toolkit or Archon plan their transition to the new software.
  Those interested in becoming early adopters can find out how to get involved
  in beta testing. An early prototype of the ArchivesSpace software will be
  available for preview. Attendees will learn how to follow project progress,
  provide input, and participate as members of the ArchivesSpace community.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Katherine Kott, ArchivesSpace<br />
  Mark Matienzo, Yale University<br />
  David Millman, New York University
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1tCS9TyXVnRiqRGxOaxodc0OW5vIkq6Dw8yNgqp9XIyE/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15034056?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/sustaining-archivesspace"
      title="Sustaining ArchivesSpace"
      target="_blank"
      >Sustaining ArchivesSpace</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
