---
title: 'Taiga Forum 8'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  Taiga Forum 8 is a pre-conference event of the
  <a
    title="2012 DLF Forum: Denver, Colorado"
    href="https://forum2012.diglib.org"
    >2012 DLF Forum</a
  >
  in Denver, CO, taking place Saturday, November 3 at the Westin Denver
  Downtown.
</p>
<p>
  The registration fee for Taiga 8 is $95. With Taiga 8 registration,
  participants are eligible for the DLF Member registration rate of $350 for the
  2012 DLF Forum.
</p>
<p>
  Join the Taiga community of AULs and ADs as we apply a case study approach
  using framing analysis to engage the issues posed by the challenging report,
  “<a
    href="http://www.educationadvisoryboard.com/pdf/23634-EAB-Redefining-the-Academic-Library.pdf"
    >Redefining the Academic Library: Managing the Migration to Digital
    Information Services</a
  >.” The schedule for the day can be found below.
</p>
<p>
  We will take a deep dive into some of the major issues confronting academic
  and research library leaders: the role of collection size in determining
  quality, the use of success metrics, traditional vs. emerging services,
  evolving user demands, re-purposing library space, and re-skilling and
  re-deploying our human resources.
</p>
<p>
  This challenging, no-holds barred discussion will help participants clarify
  and solidify their views on key library issues and offer a framework for local
  analysis and action.
</p>
<p>
  <strong>Schedule</strong><br />
  9:30-9:45 Welcome
</p>
<p>
  9:45-10:15 Presentation- Rick Anderson, Associate Dean for Scholarly Resources
  and Collections, University of Utah
</p>
<p>
  10:15-10:45: Review of “Reframing Organizations” method and how to use it as
  an analysis tool
</p>
<p>10:45-11:00 Break</p>
<p>11:00-12:30 First case discussion study with entire forum</p>
<p>12:30-1:30 Lunch &amp; networking</p>
<p>
  1:30-3:00 Break up into smaller groups. First 45 min focus on one case study;
  second 45 min. focus on a second one.
</p>
<p>3:00-3:30 Wrap-up and takeaways</p>
