---
title: 'Tales from the Cloud: Experiences and Challenges'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description:</strong><br />
  Through the course of developing and working with cloud-based solutions for
  the purpose of digital object preservation, we have learned some very
  practical lessons. There are many advantages to be gained from leveraging
  cloud services, but along with the benefits come additional considerations.
  Cloud storage comes with a different set of inherent characteristics than
  traditional file systems, and with these come a differing set of strengths and
  weaknesses. The focus of this Working Session is to delve into first hand
  experiences of cloud-adoption, the decisions that led there, migration
  strategies and considerations, and a variety of technical implications of
  cloud usage in a preservation context. The platforms that will be most focused
  on are Duracloud, Chronopolis, OpenStack, and Amazon’s S3 services.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Bridger Dyson-Smith, University of Tennessee, Knoxville<br />
  Declan Fleming, University of California, San Diego<br />
  Ryan Steans, Texas Digital Library<br />
  Andrew Woods, DuraSpace
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/19HDNNQemB4gY2wFSoFjOS9RRcw18pS4fvd2EIvIS1hI/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:<br /> </strong
  ><iframe
    src="http://www.slideshare.net/slideshow/embed_code/15355162?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DuraSpace/dlf-fall-forum-2012-tales-from-the-cloud"
      title="DLF Fall Forum 2012, Tales from the Cloud"
      target="_blank"
      >DLF Fall Forum 2012, Tales from the Cloud</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DuraSpace" target="_blank"
      >DuraSpace</a
    ></strong
  >
</div>
