---
title: 'The Participatory Digital Library: A Crowdsourcing Case Study at the University of Iowa Libraries'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  State-funded universities are increasingly focused on public engagement, with
  the primacy of the print-based scholarly monograph making way for outreach
  initiatives and a more accessible return on investment for taxpayers.
  Archivists are seeking to build participatory archives, collaborating with the
  public to better promote collections, attract new donors, and increase
  descriptive access. Some institutions are seeking to meet both these goals
  through crowdsourcing collections – inviting the public to engage with
  cultural heritage materials by tagging, transcribing, and otherwise
  contributing content to digital libraries. Harnessing this free labor,
  however, requires no small amount of paid labor from digital library
  departments scrambling to implement the projects’ new technologies, new
  workflows, and new staff roles.
</p>
<p>
  The University of Iowa Libraries launched its crowdsourcing initiative, The
  Civil War Diaries &amp; Letters Transcription Project, as an experiment in the
  spring of 2011. With little funding, even less programming expertise, and a
  tight deadline (the Civil War sesquicentennial celebrations), the UI developed
  a makeshift solution involving emailed user submissions and manual labor on
  the part of library staff. Over one year and 13,000 submissions later, our
  tireless volunteer transcriptionists are still going strong, while staff
  members have grown more than a little weary of the project’s inefficiencies.
</p>
<p>
  This fall, the Libraries plans to launch D.I.Y. History, a re-branding of our
  crowdsourcing efforts that will feature new content from the UI’s culinary
  manuscript collections and the Iowa Women’s Archives. Powering the expansion
  are streamlined scanning workflows, new strategies for increasing user
  engagement through social media tools, and – last but not least – the
  implementation of Scripto, Omeka’s open-source software for crowdsourcing
  documentary transcription. Join us as we share our experiences and examine
  lessons learned in launching and sustaining a successful crowdsourcing
  initiative.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Matthew Butler, University of Iowa Libraries<br />
  Jen Wolfe, University of Iowa Libraries
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1or0GUeukeo8MMyVEZAJlk5xc8HJlQwE7ImXPCx9zmr4/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15195712?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/participatory-digital-library"
      title="Participatory Digital Library"
      target="_blank"
      >Participatory Digital Library</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
