---
title: 'DLF Forum 2012: Schedule'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  As the digital humanities have gained new and greater prominence on university
  campuses, conference programs, funded grant projects, and popular media’s
  front pages, many research libraries have responded by creating new positions
  intended to serve (or perhaps catalyze) digital humanities activity in their
  communities. These positions are usually titled “Digital Humanities
  Librarian,” or some close variant, but the institutional situations, duties,
  disciplinary affiliations, and goals vary across institutions.
</p>
<p>
  This panel will survey the current landscape of digital humanities
  librarianship as it is practiced by librarians who are working in these
  relatively new roles at a variety of institutions. By presenting a unique “on
  the ground” perspective, this panel will complement recent past presentations
  on supporting digital humanities in libraries—such as that on the findings
  from the SPEC survey published by the Association of Research Libraries (ARL)
  in 2011—which offered a more high-level, strategic perspective.
</p>
<p>
  Through a mix of short presentations and discussion, the collected panelists
  will share their perspectives on what it means to “do digital humanities” in
  libraries on a day-to-day basis, as well as what their experiences might mean
  in terms of the strategic outlook for serving digital humanities research. In
  particular, the panel will devote attention to issues such as: goals when
  starting out in a digital humanities librarian position, how to grow and scale
  a program (particularly, how to involve other library staff), how digital
  humanities librarians are working with researchers, and the place of
  librarianship and information science in the landscape of digital humanities
  as a field.<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Trevor Muñoz, University of Maryland<br />
  Harriett Green, University of Illinois at Urbana-Champaign<br />
  Angela Courtney, Indiana University Bloomington Libraries<br />
  Jean Bauer, Brown University Library<br />
  Glen Worthey, Stanford University Libraries
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="{{
      '/assets/files/The%20Landscape%20of%20Digital%20Humanities%20Librarianship.pdf'
    }}"
    >community reporting notes</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15215434"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/green19/dlf2012-slides"
      title="Dlf2012 slides"
      target="_blank"
      >Dlf2012 slides</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/green19" target="_blank"
      >Harriett Green</a
    ></strong
  >
</div>
