---
title: 'The Challenges and Opportunities of Providing Research Data Services: Perspectives From a Cross-section of Institutions'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong><br />
  Researchers need help managing, organizing, and archiving their data. Although
  the need is not new, researchers’ requests for libraries to provide services
  and assistance has recently seen an increase. This is in part because of
  recent mandates by funders and journals to manage and/or share research data.
  For libraries, the mandate provides an opportunity to extend their historic
  charge to care for and preserve their institutions’ scholarly assets into the
  realm of data.
</p>
<p>
  In response to the recent increased interest in data stewardship among
  researchers, libraries are extending their services, increasing their outreach
  and education, or developing other strategies to engage the research community
  at their institutions. The UC Curation Center (UC3) at the California Digital
  Library has made efforts to package services in a comprehensive, optimized
  fashion to ensure usability. With the addition of DataUp (a tool for managing
  and describing Excel research data), links to the DataONE community, and
  improvements to the Merritt repository, EZID and the DMPTool, the UC3 has
  extended services with an understanding of the research data management life
  cycle. Other university libraries are increasing availability of training
  workshops and education in data management practices, and developing research
  services based on the needs of their unique user community in this era of
  digital data.
</p>
<p>
  This session includes a panel discussion of how best to meet both researchers’
  and libraries’ needs throughout the research data life cycle. We will explore
  questions such as: What have we learned? Where can we improve? What are the
  challenges we should begin planning for now? This panel will bring together
  service managers from the UC3, librarians from the UC Santa Cruz and UCLA
  campuses that utilize UC3 services, and two librarians from institutions
  outside the UC system (University of Washington and the University of
  Virginia) that are facing similar challenges and questions. We will briefly
  cover new services and improvements at UC3 and at the panelists’ institutions,
  introduce challenges and opportunities for growth of library services
  supporting research data in general, and discuss successful collaborations
  that have resulted in important tools and resources for the research
  community. We will then have a moderated discussion of research data services
  and their distribution to the community.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Lisa Federer, University of California Los Angeles<br />
  Sherry Lake, University of Virginia<br />
  Susan Chesley Perry, University of California Santa Cruz<br />
  Joan Starr, California Digital Library<br />
  Carly Strasser, California Digital Library<br />
  Perry Willett, California Digital Library<br />
  Stephanie Wright, University of Washington
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1b48ZPvtelX43ai8-sePU-b616xdxKugdeuETUMWWWgI/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
