---
title: 'Transcending Silos: Leveraging Linked Data and Open Image APIs for Collaborative Access to Digital Facsimiles'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation/Panel</p>
<p>
  <strong>Session Description:</strong> Access to image-based resources is
  fundamental to research,<br />
  scholarship and the transmission of cultural knowledge. Yet much of the
  Internet’s scholarly image-base is locked up in silos, with access restricted
  to bespoke Web applications that sit atop repositories of
  idiosyncratically-modeled content.
</p>
<p>
  In this panel session we will discuss an emerging framework which fosters
  collaborative efforts to present, interact with and annotate these image-based
  resources. Based on REST and Linked Data, the data model and APIs enable the
  cohesive presentation and collaborative annotation of distributed digital
  objects to scholars worldwide, using mix-and-match, best-of-breed software
  tools.
</p>
<p>
  The Digital Manuscript Interoperability (DMS) initiative is a three-year old
  endeavor to create a coherent ecosystem of scholars, tools and repositories of
  digitized medieval manuscripts. The project enables a clear separation of
  concerns among hosting, developing tools for, and conducting research on
  manuscripts. The effort is enabling medievalists to apply analytic and
  visualization tools to content across a dozen-plus participating repositories.
</p>
<p>
  The International Image Interoperability Framework (IIIF) extends this premise
  beyond manuscripts to any image-based content hosted by research and cultural
  heritage institutions. By converging on common API’s for image delivery,
  metadata and search, it is catalyzing the development of a new wave of
  interoperable image delivery software such as image viewers, page turners, and
  navigation systems, giving scholars an unprecedented level of consistent and
  rich access to image-based resources across participating repositories.
</p>
<p>
  Shared Canvas is the data model underpinning both DMS and IIIF. It is based on
  the Open Annotation model, now the focus of a W3C Community. In it, an
  abstract “canvas” has image, text and multimedia resources painted on to it
  via Linked Data annotations. Using the same standards, researchers may also
  provide comments and scholarly discussion. OAI-ORE aggregations are used for
  collecting annotations, resources and canvases together into coherent compound
  objects.
</p>
<p>
  <strong>Session Leaders:</strong><br />
  Tom Cramer, Stanford University<br />
  Bejamin L Albritton, Stanford University<br />
  Robert Sanderson, LANL
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1Xlmo2Q5zHgDqog7ldrcQG-1h4BdJMwV_EzgL-Ws2Cds/edit"
    >community reporting Google Doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15021892"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/blalbritton/dlf2012"
      title="Dlf2012"
      target="_blank"
      >Dlf2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/blalbritton" target="_blank"
      >blalbritton</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15035038"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/Tom-Cramer/iiif-international-image-interoperability-framework-dlf2012"
      title="IIIF: International Image Interoperability Framework @ DLF2012"
      target="_blank"
      >IIIF: International Image Interoperability Framework @ DLF2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/Tom-Cramer" target="_blank"
      >Tom-Cramer</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/14972701"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/azaroth42/transcending-silos-shared-canvas-data-model-for-digital-facsimiles"
      title="Transcending Silos: Shared Canvas Data Model for Digital Facsimiles"
      target="_blank"
      >Transcending Silos: Shared Canvas Data Model for Digital Facsimiles</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/azaroth42" target="_blank"
      >Robert Sanderson</a
    ></strong
  >
</div>
