---
title: Using Open Annotation
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Session Type:</strong> Presentation/Panel<br />
  <strong
    ><br />
    Session Description:</strong
  ><br />
  This session will examine scholarly digital annotation models, tools and
  services, focusing on recent work by the
  <a href="http://www.openannotation.org/">Open Annotation Collaboration</a>
  and the
  <a href="http://www.w3.org/community/openannotation/"
    >W3C Open Annotation Community Group</a
  >
  to improve the interoperability of annotation applications and to make
  annotations themselves more conformant with Linked Open Data principles. The
  Community Group has published a RDF-compatible Open Annotation data model and
  ontology. As a framework this enables a Web and resource-centric interoperable
  annotation environment that allows leveraging annotations across the
  boundaries of annotation clients, annotation servers, and content collections,
  and provides a foundation on which developers can create dynamic,
  full-featured and interoperable annotation tools and services.
</p>
<p>
  Panel members will provide an overview of the Open Annotation data model and
  will describe three exemplars of interoperable digital annotation applications
  built with funding from the Andrew W. Mellon Foundation:
</p>
<p>
  • Annotation framework for Fedora: Brown University Library has created an
  Open Annotation plugin for the Fedora Commons repository platform, as well as
  a demonstration of the tool using TEI collections. The open source plugin
  enables the creation, querying, retrieval, serialization, and sharing of
  annotations stored within Fedora repositories.
</p>
<p>
  • Automated annotation of biomedical text: Most existing biomedical document
  annotation consists primarily of linking text spans to single terms or
  concepts; however, more structured representation is required for deeper
  understanding of text and automated reasoning. The University of Colorado
  Denver Center for Computational Pharmacology extended the Open Annotation
  model to support annotation with arbitrarily complex concepts, which can be
  composed from existing terminologies and ontologies, and to track annotation
  compositionality and provenance at coarse or fine granularity.
</p>
<p>
  • Digital Emblematica: The University of Illinois Library has examined
  scholarly annotations digitized emblem book literature, demonstrating the use
  of the Open Annotation model to support the creation such annotations.
</p>
<p>
  The panel will then engage the audience in a practical discussion about key
  considerations in adapting and extending the core Open Annotation data model
  to meet the specific needs of individual scholarly domains while creating
  annotations that are portable beyond the context of the specific clientware
  used to create them and facilitating the collaboration of scholars in
  different locations, using different annotation tools and services across
  disparate repositories of content.<br />
  <strong
    ><br />
    Session Leaders:</strong
  ><br />
  Andrew Ashton, Brown University<br />
  Timothy Cole, University of Illinois at Urbana-Champaign<br />
  Jacob Jett, University of Illinois at Urbana-Champaign<br />
  Kevin Livingston, University of Colorado Denver
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1_c_Ahgfc5eIYzy8a-7jFFQfZj6Nr_EuJwDDHx0TDfJk/edit"
    >community reporting Google doc</a
  >
  for this session!<br />
  <strong
    ><br />
    Session Slides:</strong
  ><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15163725"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/tcole3/cole-using-oaintrodlf2012"
      title="Cole using oa-intro-dlf2012"
      target="_blank"
      >Cole using oa-intro-dlf2012</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/tcole3" target="_blank"
      >Timothy Cole</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15037519"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/andyashton/an-annotation-framework-for-fedora"
      title="An Annotation Framework for Fedora"
      target="_blank"
      >An Annotation Framework for Fedora</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/andyashton" target="_blank"
      >andyashton</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15141222"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/jjett2/emblematica-overview-dlf"
      title="Emblematica overview dlf"
      target="_blank"
      >Emblematica overview dlf</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/jjett2" target="_blank"
      >jjett2</a
    ></strong
  >
</div>
<p>
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15161653?rel=0"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/DLFCLIR/livingston-dlf201211"
      title="Biomedical Annotation - Kevin Livingston"
      target="_blank"
      >Biomedical Annotation – Kevin Livingston</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/DLFCLIR" target="_blank"
      >DLFCLIR</a
    ></strong
  >
</div>
