---
title: 'Variations on Video: The Avalon Media System'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Research/Project Update</p>
<p>
  <strong>Session Description:</strong><br />
  IMLS has funded a three-year multi-institutional development effort at Indiana
  University and Northwestern University, in collaboration with several other
  institutions, to develop an open source system that will enable libraries and
  archives to easily curate, distribute and provide online access to their video
  and audio collections, in support of teaching, learning and research.
  Initially known as Variations on Video, and recently renamed the Avalon Media
  System, the project expects to release version 1.0 of its system at the end of
  the 2012 calendar year.
</p>
<p>
  Version 1.0 of Avalon is intended to support partner evaluation and pilot
  testing during Spring 2013. Features planned for the release include:
</p>
<p>
  • Audio and video player support for Chrome, Firefox, Explorer, and Safari as
  well as on mobile devices (iOS and Android).<br />
  • Integration with a variety of authentication systems, along with management
  of group-based authorization.<br />
  • Support for manual or batch media and metadata ingest.<br />
  • Faceted discovery via Blacklight.<br />
  • System monitoring and troubleshooting capabilities for administrators.<br />
  • Creation, storage, and sharing of audio and video clips and playlists.
</p>
<p>
  The open source system is developed in collaboration with other open source
  projects, including Opencast Matterhorn, the Hydra project, and Fedora. When
  available, the system, documentation, and source will all be freely
  downloadable online. The system is being developed using the Agile/Scrum
  methodology, so this session will showcase the results of the latest “sprint”
  along with a discussion of future directions.
</p>
<p>
  <strong>Session Leaders: </strong><br />
  Jon W. Dunn, Indiana University Libraries<br />
  Michael B. Klein, Northwestern University Library
</p>
<p>
  <strong>Session Notes:</strong><br />
  View the
  <a
    href="https://docs.google.com/document/d/1tCS9TyXVnRiqRGxOaxodc0OW5vIkq6Dw8yNgqp9XIyE/edit"
    >community reporting Google doc</a
  >
  for this session!
</p>
<p>
  <strong>Session Slides:</strong><br />
  <iframe
    src="http://www.slideshare.net/slideshow/embed_code/15033464"
    width="427"
    height="356"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    scrolling="no"
    style="border: 1px solid #ccc; border-width: 1px 1px 0; margin-bottom: 5px"
    allowfullscreen=""
    webkitallowfullscreen=""
    mozallowfullscreen=""
    data-ruffle-polyfilled=""
  >
  </iframe>
</p>
<div style="margin-bottom: 5px">
  <strong>
    <a
      href="http://www.slideshare.net/jwdunn/variations-on-video-the-avalon-media-system"
      title="Variations on Video: The Avalon Media System"
      target="_blank"
      >Variations on Video: The Avalon Media System</a
    >
  </strong>
  from
  <strong
    ><a href="http://www.slideshare.net/jwdunn" target="_blank"
      >Jon Dunn</a
    ></strong
  >
</div>
